In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import os

In [2]:
base = "/Users/nickichen/Desktop/urap data"

#loading datasets
cleaned_names = pd.read_csv(f"{base}/bunmd_clean_names_v1.csv.gz", compression="gzip")
geography = pd.read_csv(f"{base}/bunmd_geography_supplement_v1.csv")
sibs_exact = pd.read_csv(f"{base}/bunmd_siblings_v2/bunmd_sibs_exact_match_v2.csv")
sibs_flexible = pd.read_csv(f"{base}/bunmd_siblings_v2/bunmd_sibs_flexible_match_v2.csv")
database = pd.read_csv(f"{base}/bunmd_v2.csv")

/var/folders/ng/ffs689f95vx8r67ys3wq6zzr0000gn/T/ipykernel_3564/2108617447.py:8: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  database = pd.read_csv(f"{base}/bunmd_v2.csv")

In [3]:
import pandas as pd
pd.options.mode.chained_assignment = None
pd.set_option('io.excel.xlsx.writer', 'xlsxwriter')

In [4]:
import pandas as pd
import numpy as np
import os
import resource

# Silence pandas warnings
pd.options.mode.chained_assignment = None
pd.set_option('io.excel.xlsx.writer', 'xlsxwriter')

# Extend memory limit (18 GB on your Mac)
soft, hard = resource.getrlimit(resource.RLIMIT_AS)
try:
    resource.setrlimit(resource.RLIMIT_AS, (18 * 1024**3, hard))
except Exception as e:
    print("‚ö†Ô∏è Could not set memory limit (normal on macOS sandboxed Jupyter):", e)

# Install Parquet engine if needed
try:
    import pyarrow
except ImportError:
    !pip install pyarrow

‚ö†Ô∏è Could not set memory limit (normal on macOS sandboxed Jupyter): current limit exceeds maximum limit

In [6]:
import pandas as pd

base = "/Users/nickichen/Desktop/urap data"

# Load once and sort permanently
print("üîÑ Sorting the full dataset by birth year, last name, and first name...")
df = pd.read_csv(f"{base}/bunmd_v2.csv", low_memory=False)
df.sort_values(["byear", "lname", "fname"], inplace=True)
df.to_parquet(f"{base}/bunmd_sorted.parquet", index=False)
print("‚úÖ Saved sorted version: bunmd_sorted.parquet")

üîÑ Sorting the full dataset by birth year, last name, and first name...

‚úÖ Saved sorted version: bunmd_sorted.parquet

In [29]:
import pandas as pd
import numpy as np
import os

def find_yearbook_person_fast(
    first_names,
    middle_names,
    last_names,
    gender="unknown",
    yearbook_year=None,
    cleaned_names=None,
    geography=None,
    database_path=None
):
    """
    only loads the relevant birth-year window from the pre-sorted Parquet database.
    """

    # Normalize inputs
    if isinstance(first_names, str):
        first_names = [first_names]
    if isinstance(middle_names, str):
        middle_names = [middle_names]
    if isinstance(last_names, str):
        last_names = [last_names]

    first_names = [f.lower().strip() for f in first_names]
    last_names = [l.lower().strip() for l in last_names]

    expanded_mnames = set()
    for m in middle_names:
        m = m.lower().strip()
        if not m:
            expanded_mnames.add("")
        else:
            expanded_mnames.update(["", m[0], m])
    middle_names = list(expanded_mnames)

    print(f"\n--- Searching for {first_names} {middle_names} {last_names} | Gender: {gender} ---")

    # Expected birth-year range
    if yearbook_year:
        birth_low = yearbook_year - 19
        birth_high = yearbook_year - 13
        print(f"Expected birth years: {birth_low}‚Äì{birth_high}")
    else:
        birth_low = birth_high = None
        print("No yearbook year given ‚Üí no birth-year filter.")

    # Load only relevant rows from the pre-sorted Parquet file
    parquet_path = database_path.replace(".csv", "_sorted.parquet")
    if not os.path.exists(parquet_path):
        raise FileNotFoundError(f"Missing sorted Parquet file: {parquet_path}")

    filters = []
    if birth_low and birth_high:
        filters = [("byear", ">=", birth_low), ("byear", "<=", birth_high)]

    print("üìÇ Loading relevant subset from Parquet...")
    database = pd.read_parquet(parquet_path, filters=filters, engine="pyarrow")

    # Filter by names (case-insensitive)
    mask = (
        database["fname"].str.lower().isin(first_names)
        & database["lname"].str.lower().isin(last_names)
        & database["mname"].str.lower().isin(middle_names)
    )
    db = database.loc[mask].copy()
    print(f"‚úÖ Found {len(db)} matching name records.")

    # Add how the person matched (birth vs death)
    if not db.empty and geography is not None:
        db = db.merge(
            geography[["ssn", "birth_fips", "death_state", "death_zip"]],
            on="ssn", how="left"
        )
        db["match_type"] = np.where(
        db["birth_fips"].astype(str).str.startswith("37", na=False),
        "birth_state",
        np.where(
            db["death_state"].str.lower() == "nc",
            "death_state",
            "other"
        )
    )


    # Filter by birth-year range (redundant but safe)
    if not db.empty and birth_low:
        db = db[db["byear"].between(birth_low, birth_high, inclusive="both")]

    return db

In [12]:
import sys
!{sys.executable} -m pip install pyarrow --upgrade

import pyarrow
print("‚úÖ pyarrow loaded successfully!")

Python(87009) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

Requirement already satisfied: pyarrow in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (22.0.0)

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: pip3.12 install --upgrade pip
‚úÖ pyarrow loaded successfully!

In [47]:
# === Run batch search for The Chief 1939 yearbook ===

import pandas as pd

yearbook_year = 1939
base = "/Users/nickichen/Desktop/urap data"

all_results = []

# All people and corresponding genders
people = [
    # Page 12
    ("edith", "", "allison"),
    ("iola", "bobette", "anders"),
    ("julia", "jeanette", "anders"),
    ("charlie", "g", "banks"),
    ("albert", "monroe", "cantrell"),
    ("ada", "louise", "dalton"),

    # Pages 13‚Äì15
    ("janie", "lou", "dalton"),
    ("troy", "a", "drake"),
    ("frank", "r", "gash"),
    ("george", "w", "gibbs"),
    ("helen", "virginia", "holtzclaw"),
    ("margaret", "arlola", "jenkins"),
    ("james", "terry", "mann"),
    ("nell", "", "merrill"),
    ("lillian", "", "mintz"),
    ("mildred", "catherine", "mccarson"),
    ("wayne", "", "nicholson"),
    ("virginia", "", "noonchester"),
    ("cleatus", "", "norton"),
    ("sue", "eileen", "orr"),
    ("ellis", "", "revis"),
    ("fannie", "", "summey"),
    ("jessie", "", "stamey"),
    ("agnes", "frances", "whiteside")
]

genders = [
    # Page 12
    "female", "female", "female", "male", "male", "female",
    # Pages 13‚Äì15
    "female", "male", "male", "male", "female", "female",
    "male", "female", "female", "female", "male", "female",
    "male", "female", "male", "female", "female", "female"
]

# === Run the searches ===
for (first, middle, last), gender in zip(people, genders):
    print(f"\n--- Searching for {first.title()} {middle.title()} {last.title()} ({gender}) ---")

    df = find_yearbook_person_fast(
        first_names=first,
        middle_names=middle,
        last_names=last,
        gender=gender,
        yearbook_year=yearbook_year,
        cleaned_names=cleaned_names,
        geography=geography,
        database_path=f"{base}/bunmd.csv"

    )

    if not df.empty:
        df["person_name"] = f"{first.title()} {middle.title()} {last.title()}".replace("  ", " ")
        df["gender"] = gender
        df["yearbook"] = "The Chief 1939"
        all_results.append(df)

# === Combine everything ===
if all_results:
    combined_results = pd.concat(all_results, ignore_index=True)
    print(f"\n‚úÖ Combined {len(all_results)} matched individuals from The Chief 1939.")
    display(combined_results.head(100))
else:
    print("‚ö†Ô∏è No matches found for any listed names.")

--- Searching for Edith  Allison (female) ---

--- Searching for ['edith'] [''] ['allison'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Iola Bobette Anders (female) ---

--- Searching for ['iola'] ['', 'bobette', 'b'] ['anders'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Julia Jeanette Anders (female) ---

--- Searching for ['julia'] ['', 'jeanette', 'j'] ['anders'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Charlie G Banks (male) ---

--- Searching for ['charlie'] ['', 'g'] ['banks'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 2 matching name records.

--- Searching for Albert Monroe Cantrell (male) ---

--- Searching for ['albert'] ['', 'monroe', 'm'] ['cantrell'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 1 matching name records.

--- Searching for Ada Louise Dalton (female) ---

--- Searching for ['ada'] ['', 'louise', 'l'] ['dalton'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Janie Lou Dalton (female) ---

--- Searching for ['janie'] ['', 'lou', 'l'] ['dalton'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Troy A Drake (male) ---

--- Searching for ['troy'] ['', 'a'] ['drake'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Frank R Gash (male) ---

--- Searching for ['frank'] ['', 'r'] ['gash'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for George W Gibbs (male) ---

--- Searching for ['george'] ['', 'w'] ['gibbs'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 3 matching name records.

--- Searching for Helen Virginia Holtzclaw (female) ---

--- Searching for ['helen'] ['', 'virginia', 'v'] ['holtzclaw'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Margaret Arlola Jenkins (female) ---

--- Searching for ['margaret'] ['', 'a', 'arlola'] ['jenkins'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 4 matching name records.

--- Searching for James Terry Mann (male) ---

--- Searching for ['james'] ['', 't', 'terry'] ['mann'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Nell  Merrill (female) ---

--- Searching for ['nell'] [''] ['merrill'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lillian  Mintz (female) ---

--- Searching for ['lillian'] [''] ['mintz'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Mildred Catherine Mccarson (female) ---

--- Searching for ['mildred'] ['', 'catherine', 'c'] ['mccarson'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Wayne  Nicholson (male) ---

--- Searching for ['wayne'] [''] ['nicholson'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Virginia  Noonchester (female) ---

--- Searching for ['virginia'] [''] ['noonchester'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Cleatus  Norton (male) ---

--- Searching for ['cleatus'] [''] ['norton'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Sue Eileen Orr (female) ---

--- Searching for ['sue'] ['', 'e', 'eileen'] ['orr'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ellis  Revis (male) ---

--- Searching for ['ellis'] [''] ['revis'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Fannie  Summey (female) ---

--- Searching for ['fannie'] [''] ['summey'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Jessie  Stamey (female) ---

--- Searching for ['jessie'] [''] ['stamey'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Agnes Frances Whiteside (female) ---

--- Searching for ['agnes'] ['', 'f', 'frances'] ['whiteside'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

‚úÖ Combined 4 matched individuals from The Chief 1939.

,ssn,zip_residence,lname,mname,fname,byear,dyear,socstate,bmonth,dmonth,...,ccweight,bpl_string,socstate_string,birth_fips,death_state,death_zip,match_type,person_name,gender,yearbook
0,569307270,287420245,BANKS,G,CHARLIE,1922,2002,600.0,3.0,1,...,1.065031,North Carolina,California,37001.0,nc,28742,birth_state,Charlie G Banks,male,The Chief 1939
1,427125168,441124404,BANKS,G,CHARLIE,1924,1991,2800.0,9.0,6,...,1.149759,Mississippi,Mississippi,28163.0,oh,44112,other,Charlie G Banks,male,The Chief 1939
2,402247221,438321145,CANTRELL,M,ALBERT,1921,1998,2100.0,8.0,8,...,1.099517,Kentucky,Kentucky,21195.0,oh,43832,other,Albert Monroe Cantrell,male,The Chief 1939
3,90166074,105664630,GIBBS,W,GEORGE,1920,1999,3600.0,3.0,5,...,1.103359,New York,New York,36061.0,ny,10566,other,George W Gibbs,male,The Chief 1939
4,231036052,22736,GIBBS,W,GEORGE,1921,1986,5100.0,9.0,12,...,NaN,Virginia,Virginia,NaN,va,22736,other,George W Gibbs,male,The Chief 1939
5,334122300,None,GIBBS,W,GEORGE,1924,2002,1700.0,3.0,1,...,1.057891,Michigan,Illinois,26163.0,NaN,NaN,other,George W Gibbs,male,The Chief 1939
6,335249104,857428739,JENKINS,A,MARGARET,1922,1998,1700.0,8.0,2,...,1.088224,Illinois,Illinois,17183.0,az,85742,other,Margaret Arlola Jenkins,female,The Chief 1939
7,144142673,088073026,JENKINS,A,MARGARET,1922,1999,3400.0,3.0,5,...,1.089540,Pennsylvania,New Jersey,42095.0,nj,08807,other,Margaret Arlola Jenkins,female,The Chief 1939
8,176265512,080814914,JENKINS,A,MARGARET,1923,1996,4200.0,11.0,7,...,1.085057,Pennsylvania,Pennsylvania,42091.0,nj,08081,other,Margaret Arlola Jenkins,female,The Chief 1939
9,265825171,344713333,JENKINS,A,MARGARET,1923,2007,1200.0,6.0,3,...,NaN,Florida,Florida,12057.0,fl,34471,other,Margaret Arlola Jenkins,female,The Chief 1939

In [31]:
# === Run batch search for Shelby 1940 yearbook ===

import pandas as pd

yearbook_year = 1940
base = "/Users/nickichen/Desktop/urap data"

all_results = []

# === All people and corresponding genders (Shelby 1940) ===
people = [
    # shelby1940 (predominantly Black)
    ("mildred", "t", "bankhead"),
    ("essie", "c", "bass"),
    ("geneva", "elmira", "borders"),
    ("ada", "bell", "butts"),
    ("willie", "james", "butts"),

    # Pages 6‚Äì8
    ("warren", "gibson", "cadeness"),
    ("allie", "christine", "cannady"),
    ("faye", "", "cornwell"),
    ("beulah", "estelle", "earl"),
    ("boyd", "josiah", "gatheright"),

    ("charles", "evans", "hooper"),
    ("betsy", "glendylon", "hoote"),
    ("priscilla", "jane", "johnson"),
    ("nedra", "elizabeth", "keaton"),
    ("theopia", "", "littlejohn"),

    ("hester", "leonia", "logan"),
    ("mary", "elizabeth", "london"),
    ("herbert", "marshall", "roper"),
    ("lula", "mae", "teamer"),
    ("joseph", "h", "teamer"),
    ("bessie", "rhea", "turner")
]

genders = [
    # shelby1940
    "female", "female", "female", "female", "male",

    # Pages 6‚Äì8
    "male", "female", "female", "female", "male",
    "male", "female", "female", "female", "female",
    "female", "female", "male", "female", "male", "female"
]

# === Run the searches ===
for (first, middle, last), gender in zip(people, genders):
    print(f"\n--- Searching for {first.title()} {middle.title()} {last.title()} ({gender}) ---")

    df = find_yearbook_person_fast(
        first_names=first,
        middle_names=middle,
        last_names=last,
        gender=gender,
        yearbook_year=yearbook_year,
        cleaned_names=cleaned_names,
        geography=geography,
        database_path=f"{base}/bunmd_sorted.parquet"
    )

    if not df.empty:
        df["person_name"] = f"{first.title()} {middle.title()} {last.title()}".replace("  ", " ")
        df["gender"] = gender
        df["yearbook"] = "Shelby 1940"
        all_results.append(df)

# === Combine everything ===
if all_results:
    combined_results = pd.concat(all_results, ignore_index=True)
    print(f"\n‚úÖ Combined {len(all_results)} matched individuals from Shelby 1940.")
    display(combined_results.head(100))
else:
    print("‚ö†Ô∏è No matches found for any listed names.")

--- Searching for Mildred T Bankhead (female) ---

--- Searching for ['mildred'] ['', 't'] ['bankhead'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Essie C Bass (female) ---

--- Searching for ['essie'] ['', 'c'] ['bass'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Geneva Elmira Borders (female) ---

--- Searching for ['geneva'] ['', 'e', 'elmira'] ['borders'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ada Bell Butts (female) ---

--- Searching for ['ada'] ['', 'bell', 'b'] ['butts'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 1 matching name records.

--- Searching for Willie James Butts (male) ---

--- Searching for ['willie'] ['', 'james', 'j'] ['butts'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 2 matching name records.

--- Searching for Warren Gibson Cadeness (male) ---

--- Searching for ['warren'] ['', 'g', 'gibson'] ['cadeness'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Allie Christine Cannady (female) ---

--- Searching for ['allie'] ['', 'christine', 'c'] ['cannady'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Faye  Cornwell (female) ---

--- Searching for ['faye'] [''] ['cornwell'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Beulah Estelle Earl (female) ---

--- Searching for ['beulah'] ['', 'e', 'estelle'] ['earl'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Boyd Josiah Gatheright (male) ---

--- Searching for ['boyd'] ['', 'josiah', 'j'] ['gatheright'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Charles Evans Hooper (male) ---

--- Searching for ['charles'] ['', 'evans', 'e'] ['hooper'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 2 matching name records.

--- Searching for Betsy Glendylon Hoote (female) ---

--- Searching for ['betsy'] ['', 'glendylon', 'g'] ['hoote'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Priscilla Jane Johnson (female) ---

--- Searching for ['priscilla'] ['', 'j', 'jane'] ['johnson'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 1 matching name records.

--- Searching for Nedra Elizabeth Keaton (female) ---

--- Searching for ['nedra'] ['', 'e', 'elizabeth'] ['keaton'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Theopia  Littlejohn (female) ---

--- Searching for ['theopia'] [''] ['littlejohn'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Hester Leonia Logan (female) ---

--- Searching for ['hester'] ['', 'leonia', 'l'] ['logan'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Mary Elizabeth London (female) ---

--- Searching for ['mary'] ['', 'e', 'elizabeth'] ['london'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 1 matching name records.

--- Searching for Herbert Marshall Roper (male) ---

--- Searching for ['herbert'] ['', 'marshall', 'm'] ['roper'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lula Mae Teamer (female) ---

--- Searching for ['lula'] ['', 'm', 'mae'] ['teamer'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Joseph H Teamer (male) ---

--- Searching for ['joseph'] ['', 'h'] ['teamer'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Bessie Rhea Turner (female) ---

--- Searching for ['bessie'] ['', 'rhea', 'r'] ['turner'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

‚úÖ Combined 5 matched individuals from Shelby 1940.

,ssn,zip_residence,lname,mname,fname,byear,dyear,socstate,bmonth,dmonth,...,ccweight,bpl_string,socstate_string,birth_fips,death_state,death_zip,match_type,person_name,gender,yearbook
0,253723195,303317324,BUTTS,B,ADA,1925,2005,1300.0,3.0,8,...,1.134173,Georgia,Georgia,13197.0,ga,30331,other,Ada Bell Butts,female,Shelby 1940
1,240224211,None,BUTTS,J,WILLIE,1921,1991,3700.0,4.0,7,...,1.170743,Georgia,North Carolina,13021.0,NaN,NaN,other,Willie James Butts,male,Shelby 1940
2,256242804,349528121,BUTTS,J,WILLIE,1922,1997,1300.0,9.0,10,...,1.100285,Georgia,Georgia,13175.0,fl,34952,other,Willie James Butts,male,Shelby 1940
3,404200109,257014725,HOOPER,E,CHARLES,1922,2003,2100.0,2.0,3,...,1.065754,Kentucky,Kentucky,21133.0,wv,25701,other,Charles Evans Hooper,male,Shelby 1940
4,400266331,None,HOOPER,E,CHARLES,1923,2006,2100.0,12.0,12,...,NaN,Kentucky,Kentucky,21199.0,NaN,NaN,other,Charles Evans Hooper,male,Shelby 1940
5,557266050,925445915,JOHNSON,J,PRISCILLA,1921,1994,600.0,2.0,9,...,1.114277,Illinois,California,17031.0,ca,92544,other,Priscilla Jane Johnson,female,Shelby 1940
6,364283455,480592303,LONDON,E,MARY,1923,2001,2600.0,3.0,10,...,1.075618,Michigan,Michigan,26125.0,mi,48059,other,Mary Elizabeth London,female,Shelby 1940

In [76]:
# new function to check whole yearbooks

def find_yearbook_all_classes(yearbook_year, class_groups, database_path, save_dir):
    all_results = []

    for class_name, people, genders in class_groups:
        print(f"\n===== üìò Processing {class_name.title()} Class =====")

        class_results = []

        for (first, middle, last), gender in zip(people, genders):
            print(f"\n--- Searching for {first.title()} {middle.title()} {last.title()} ({gender}) ---")
            df = find_yearbook_person_fast(
                first_names=first,
                middle_names=middle,
                last_names=last,
                gender=gender,
                yearbook_year=yearbook_year,
                cleaned_names=None,
                geography=None,
                database_path=database_path
            )

            if not df.empty:
                df["person_name"] = f"{first.title()} {middle.title()} {last.title()}".replace("  ", " ")
                df["gender_guess"] = gender
                df["class_level"] = class_name.title()
                df["yearbook"] = f"{yearbook_name} {yearbook_year}"
                class_results.append(df)

        if class_results:
            combined = pd.concat(class_results, ignore_index=True)
            print(f"‚úÖ Found {len(combined)} matches for {class_name.title()}.")
            all_results.append(combined)
            os.makedirs(save_dir, exist_ok=True)
            combined.to_csv(f"{save_dir}/{class_name}_matches.csv", index=False)
        else:
            print(f"‚ö†Ô∏è No matches found for {class_name.title()} class.")

    combined_all, summary = None, None
    if all_results:
        combined_all = pd.concat(all_results, ignore_index=True)

        # safer display subset ‚Äî only show columns that exist
        display_cols = [c for c in ["person_name", "gender_guess", "class_level", "byear", "death_state", "match_type"] if c in combined_all.columns]
        display(combined_all[display_cols].head(20))

        print(f"\n‚úÖ Combined {len(combined_all)} total matches across all classes!")

        summary = (
            combined_all.groupby("class_level")
            .agg(total_matches=("ssn", "count"))
            .reset_index()
        )

        print("\nüìä Summary by class:")
        display(summary)

        os.makedirs(save_dir, exist_ok=True)
        combined_all.to_csv(f"{save_dir}/all_yearbooks_combined.csv", index=False)
        summary.to_csv(f"{save_dir}/call_yearbooks_summary.csv", index=False)
    else:
        print("\n‚ö†Ô∏è No matches found in any class.")

    return combined_all, summary

In [ ]:
#chiefs
yearbook_name = "Chiefs"
seniors = [
    ("edith", "", "allison"), ("iola", "bobette", "anders"), ("julia", "jeanette", "anders"),
    ("charlie", "g", "banks"), ("albert", "monroe", "cantrell"), ("ada", "louise", "dalton"),
    ("janie", "lou", "dalton"), ("troy", "a", "drake"), ("frank", "r", "gash"),
    ("george", "w", "gibbs"), ("helen", "virginia", "holtzclaw"), ("margaret", "arlola", "jenkins"),
    ("james", "terry", "mann"), ("nell", "", "merrill"), ("lillian", "", "mintz"),
    ("mildred", "catherine", "mccarson"), ("wayne", "", "nicholson"), ("virginia", "", "noonchester"),
    ("cleatus", "", "norton"), ("sue", "eileen", "orr"), ("ellis", "", "revis"),
    ("fannie", "", "summey"), ("jessie", "", "stamey"), ("agnes", "frances", "whiteside")
]
genders = [
    "female","female","female","male","male","female",
    "female","male","male","male","female","female",
    "male","female","female","female","male","female",
    "male","female","male","female","female","female"
]

juniors = [
    ("o", "a", "anders"), ("c", "w", "adcock"), ("franklin", "", "allison"), ("broaddeth", "", "blackwell"),
    ("claudine", "", "cairnes"), ("nellie", "", "cairnes"), ("charlotte", "", "clayton"), ("salome", "", "clayton"),
    ("jackie", "", "corn"), ("vernon", "", "conner"), ("opal", "", "dalton"), ("christine", "", "davis"),
    ("ruth", "", "gonce"), ("eula", "", "gray"), ("willie", "", "gash"), ("blanche", "", "hollingsworth"),
    ("cameron", "", "houk"), ("helen", "", "mckinna"), ("raymond", "", "mccarson"), ("alma", "", "merrill"),
    ("carolyn", "", "orr"), ("thelma", "", "snyder"), ("jesse", "lee", "simpson"), ("james", "", "smith"),
    ("clarence", "", "williams"), ("helen", "", "wilson"), ("lillian", "", "wilson"), ("lucille", "", "wilson")
]
junior_genders = [
    "male","male","male","male","female","female","female","female","female","male","female","female",
    "female","female","male","female","male","female","male","female","female","female","male","male",
    "male","female","female","female"
]

sophomores = [
    ("imogene", "", "allen"), ("wanda", "", "anders"), ("maudina", "", "bell"), ("hamilton", "", "boyd"),
    ("cecil", "", "cairnes"), ("irene", "", "corn"), ("eddie", "lee", "corn"), ("opal", "", "dalton"),
    ("coy", "", "dalton"), ("palmer", "", "drake"), ("ellis", "", "garren"), ("plato", "", "hall"),
    ("maxine", "", "hollingsworth"), ("hamilton", "", "hollingsworth"), ("ralph", "", "jones"),
    ("j", "b", "laughter"), ("wade", "", "laughter"), ("charles", "", "ledbetter"), ("freda", "", "marona"),
    ("joyce", "", "mckinna"), ("lottie", "", "mintz"), ("dorothy", "", "simpson"), ("ruth", "", "stamey"),
    ("glen", "", "simpson"), ("lillie", "mae", "smith")
]
sophomore_genders = [
    "female","female","female","male","male","female","female","female","male","male","male","male",
    "female","male","male","male","male","male","female","female","female","female","female","male","female"
]

freshmen = [
    ("louise", "", "adoeck"), ("lucille", "", "allison"), ("stella", "", "allison"), ("vera", "", "allison"),
    ("rosella", "", "ball"), ("perry", "", "bell"), ("henrietta", "", "briggs"), ("harvey", "", "cantrell"),
    ("rosa", "mae", "capell"), ("jack", "", "dalton"), ("julia", "", "davis"), ("henry", "", "garren"),
    ("rolland", "", "gibson"), ("de", "foix", "greer"), ("mildred", "", "holden"), ("j", "p", "huggins"),
    ("billy", "", "mckinna"), ("george", "", "moffitt"), ("paul", "", "moffitt"), ("mary", "alice", "merrill"),
    ("marjorie", "", "merrill"), ("cecil", "", "morgan"), ("ulysses", "", "nelson"), ("richard", "", "norris"),
    ("swannie", "", "price"), ("richard", "", "sentell"), ("marvin", "", "simpson"), ("joe", "", "smathers"),
    ("jessie", "", "snyder"), ("mildred", "", "whitesides"), ("nancy", "lee", "wright")
]
freshmen_genders = [
    "female","female","female","female","female","male","female","male","female","male","female","male",
    "male","male","female","male","male","male","male","female","female","male","male","male",
    "female","male","male","male","female","female","female"
]

# === RUN ===
base = "/Users/nickichen/Desktop/urap data"
yearbook_year = 1939

class_groups = [
    ("senior", seniors, genders),
    ("junior", juniors, junior_genders),
    ("sophomore", sophomores, sophomore_genders),
    ("freshman", freshmen, freshmen_genders)
]

combined_all, summary = find_yearbook_all_classes(
    yearbook_year=yearbook_year,
    class_groups=class_groups,
    database_path=f"{base}/bunmd_sorted.parquet",
    save_dir=f"{base}/yearbook_results"
)

===== üìò Processing Senior Class =====

--- Searching for Edith  Allison (female) ---

--- Searching for ['edith'] [''] ['allison'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Iola Bobette Anders (female) ---

--- Searching for ['iola'] ['', 'bobette', 'b'] ['anders'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Julia Jeanette Anders (female) ---

--- Searching for ['julia'] ['', 'jeanette', 'j'] ['anders'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Charlie G Banks (male) ---

--- Searching for ['charlie'] ['', 'g'] ['banks'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 2 matching name records.

--- Searching for Albert Monroe Cantrell (male) ---

--- Searching for ['albert'] ['', 'monroe', 'm'] ['cantrell'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 1 matching name records.

--- Searching for Ada Louise Dalton (female) ---

--- Searching for ['ada'] ['', 'louise', 'l'] ['dalton'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Janie Lou Dalton (female) ---

--- Searching for ['janie'] ['', 'lou', 'l'] ['dalton'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Troy A Drake (male) ---

--- Searching for ['troy'] ['', 'a'] ['drake'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Frank R Gash (male) ---

--- Searching for ['frank'] ['', 'r'] ['gash'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for George W Gibbs (male) ---

--- Searching for ['george'] ['', 'w'] ['gibbs'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 3 matching name records.

--- Searching for Helen Virginia Holtzclaw (female) ---

--- Searching for ['helen'] ['', 'virginia', 'v'] ['holtzclaw'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Margaret Arlola Jenkins (female) ---

--- Searching for ['margaret'] ['', 'a', 'arlola'] ['jenkins'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 4 matching name records.

--- Searching for James Terry Mann (male) ---

--- Searching for ['james'] ['', 't', 'terry'] ['mann'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Nell  Merrill (female) ---

--- Searching for ['nell'] [''] ['merrill'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lillian  Mintz (female) ---

--- Searching for ['lillian'] [''] ['mintz'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Mildred Catherine Mccarson (female) ---

--- Searching for ['mildred'] ['', 'catherine', 'c'] ['mccarson'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Wayne  Nicholson (male) ---

--- Searching for ['wayne'] [''] ['nicholson'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Virginia  Noonchester (female) ---

--- Searching for ['virginia'] [''] ['noonchester'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Cleatus  Norton (male) ---

--- Searching for ['cleatus'] [''] ['norton'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Sue Eileen Orr (female) ---

--- Searching for ['sue'] ['', 'e', 'eileen'] ['orr'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ellis  Revis (male) ---

--- Searching for ['ellis'] [''] ['revis'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Fannie  Summey (female) ---

--- Searching for ['fannie'] [''] ['summey'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Jessie  Stamey (female) ---

--- Searching for ['jessie'] [''] ['stamey'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Agnes Frances Whiteside (female) ---

--- Searching for ['agnes'] ['', 'f', 'frances'] ['whiteside'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.
‚úÖ Found 10 matches for Senior.

===== üìò Processing Junior Class =====

--- Searching for O A Anders (male) ---

--- Searching for ['o'] ['', 'a'] ['anders'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for C W Adcock (male) ---

--- Searching for ['c'] ['', 'w'] ['adcock'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Franklin  Allison (male) ---

--- Searching for ['franklin'] [''] ['allison'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Broaddeth  Blackwell (male) ---

--- Searching for ['broaddeth'] [''] ['blackwell'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Claudine  Cairnes (female) ---

--- Searching for ['claudine'] [''] ['cairnes'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Nellie  Cairnes (female) ---

--- Searching for ['nellie'] [''] ['cairnes'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Charlotte  Clayton (female) ---

--- Searching for ['charlotte'] [''] ['clayton'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Salome  Clayton (female) ---

--- Searching for ['salome'] [''] ['clayton'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Jackie  Corn (female) ---

--- Searching for ['jackie'] [''] ['corn'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Vernon  Conner (male) ---

--- Searching for ['vernon'] [''] ['conner'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Opal  Dalton (female) ---

--- Searching for ['opal'] [''] ['dalton'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Christine  Davis (female) ---

--- Searching for ['christine'] [''] ['davis'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ruth  Gonce (female) ---

--- Searching for ['ruth'] [''] ['gonce'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Eula  Gray (female) ---

--- Searching for ['eula'] [''] ['gray'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Willie  Gash (male) ---

--- Searching for ['willie'] [''] ['gash'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Blanche  Hollingsworth (female) ---

--- Searching for ['blanche'] [''] ['hollingsworth'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Cameron  Houk (male) ---

--- Searching for ['cameron'] [''] ['houk'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Helen  Mckinna (female) ---

--- Searching for ['helen'] [''] ['mckinna'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Raymond  Mccarson (male) ---

--- Searching for ['raymond'] [''] ['mccarson'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Alma  Merrill (female) ---

--- Searching for ['alma'] [''] ['merrill'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Carolyn  Orr (female) ---

--- Searching for ['carolyn'] [''] ['orr'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Thelma  Snyder (female) ---

--- Searching for ['thelma'] [''] ['snyder'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Jesse Lee Simpson (male) ---

--- Searching for ['jesse'] ['', 'lee', 'l'] ['simpson'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 4 matching name records.

--- Searching for James  Smith (male) ---

--- Searching for ['james'] [''] ['smith'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Clarence  Williams (male) ---

--- Searching for ['clarence'] [''] ['williams'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Helen  Wilson (female) ---

--- Searching for ['helen'] [''] ['wilson'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lillian  Wilson (female) ---

--- Searching for ['lillian'] [''] ['wilson'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lucille  Wilson (female) ---

--- Searching for ['lucille'] [''] ['wilson'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.
‚úÖ Found 4 matches for Junior.

===== üìò Processing Sophomore Class =====

--- Searching for Imogene  Allen (female) ---

--- Searching for ['imogene'] [''] ['allen'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Wanda  Anders (female) ---

--- Searching for ['wanda'] [''] ['anders'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Maudina  Bell (female) ---

--- Searching for ['maudina'] [''] ['bell'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Hamilton  Boyd (male) ---

--- Searching for ['hamilton'] [''] ['boyd'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Cecil  Cairnes (male) ---

--- Searching for ['cecil'] [''] ['cairnes'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Irene  Corn (female) ---

--- Searching for ['irene'] [''] ['corn'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Eddie Lee Corn (female) ---

--- Searching for ['eddie'] ['', 'lee', 'l'] ['corn'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Opal  Dalton (female) ---

--- Searching for ['opal'] [''] ['dalton'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Coy  Dalton (male) ---

--- Searching for ['coy'] [''] ['dalton'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Palmer  Drake (male) ---

--- Searching for ['palmer'] [''] ['drake'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ellis  Garren (male) ---

--- Searching for ['ellis'] [''] ['garren'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Plato  Hall (male) ---

--- Searching for ['plato'] [''] ['hall'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Maxine  Hollingsworth (female) ---

--- Searching for ['maxine'] [''] ['hollingsworth'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Hamilton  Hollingsworth (male) ---

--- Searching for ['hamilton'] [''] ['hollingsworth'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ralph  Jones (male) ---

--- Searching for ['ralph'] [''] ['jones'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for J B Laughter (male) ---

--- Searching for ['j'] ['', 'b'] ['laughter'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Wade  Laughter (male) ---

--- Searching for ['wade'] [''] ['laughter'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Charles  Ledbetter (male) ---

--- Searching for ['charles'] [''] ['ledbetter'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Freda  Marona (female) ---

--- Searching for ['freda'] [''] ['marona'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Joyce  Mckinna (female) ---

--- Searching for ['joyce'] [''] ['mckinna'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lottie  Mintz (female) ---

--- Searching for ['lottie'] [''] ['mintz'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Dorothy  Simpson (female) ---

--- Searching for ['dorothy'] [''] ['simpson'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ruth  Stamey (female) ---

--- Searching for ['ruth'] [''] ['stamey'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Glen  Simpson (male) ---

--- Searching for ['glen'] [''] ['simpson'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lillie Mae Smith (female) ---

--- Searching for ['lillie'] ['', 'm', 'mae'] ['smith'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 47 matching name records.
‚úÖ Found 47 matches for Sophomore.

===== üìò Processing Freshman Class =====

--- Searching for Louise  Adoeck (female) ---

--- Searching for ['louise'] [''] ['adoeck'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lucille  Allison (female) ---

--- Searching for ['lucille'] [''] ['allison'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Stella  Allison (female) ---

--- Searching for ['stella'] [''] ['allison'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Vera  Allison (female) ---

--- Searching for ['vera'] [''] ['allison'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Rosella  Ball (female) ---

--- Searching for ['rosella'] [''] ['ball'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Perry  Bell (male) ---

--- Searching for ['perry'] [''] ['bell'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Henrietta  Briggs (female) ---

--- Searching for ['henrietta'] [''] ['briggs'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Harvey  Cantrell (male) ---

--- Searching for ['harvey'] [''] ['cantrell'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Rosa Mae Capell (female) ---

--- Searching for ['rosa'] ['', 'm', 'mae'] ['capell'] | Gender: female ---

                person_name gender_guess class_level  byear
0           Charlie G Banks         male      Senior   1922
1           Charlie G Banks         male      Senior   1924
2    Albert Monroe Cantrell         male      Senior   1921
3            George W Gibbs         male      Senior   1920
4            George W Gibbs         male      Senior   1921
5            George W Gibbs         male      Senior   1924
6   Margaret Arlola Jenkins       female      Senior   1922
7   Margaret Arlola Jenkins       female      Senior   1922
8   Margaret Arlola Jenkins       female      Senior   1923
9   Margaret Arlola Jenkins       female      Senior   1923
10        Jesse Lee Simpson         male      Junior   1921
11        Jesse Lee Simpson         male      Junior   1922
12        Jesse Lee Simpson         male      Junior   1923
13        Jesse Lee Simpson         male      Junior   1924
14         Lillie Mae Smith       female   Sophomore   1920
15         Lillie Mae Smith       female   Sophomore   1920
16         Lillie Mae Smith       female   Sophomore   1920
17         Lillie Mae Smith       female   Sophomore   1920
18         Lillie Mae Smith       female   Sophomore   1920
19         Lillie Mae Smith       female   Sophomore   1920

‚úÖ Combined 65 total matches across all classes!

üìä Summary by class:

  class_level  total_matches
0    Freshman              4
1      Junior              4
2      Senior             10
3   Sophomore             47

In [73]:
#chief juniors old funtion
yearbook_year = (1939+1)
base = "/Users/nickichen/Desktop/urap data"

all_results = []

# === All people and corresponding genders (chief 1939 soph) ===
sophomores = [
    ("imogene", "", "allen"), ("wanda", "", "anders"), ("maudina", "", "bell"), ("hamilton", "", "boyd"),
    ("cecil", "", "cairnes"), ("irene", "", "corn"), ("eddie", "lee", "corn"), ("opal", "", "dalton"),
    ("coy", "", "dalton"), ("palmer", "", "drake"), ("ellis", "", "garren"), ("plato", "", "hall"),
    ("maxine", "", "hollingsworth"), ("hamilton", "", "hollingsworth"), ("ralph", "", "jones"),
    ("j", "b", "laughter"), ("wade", "", "laughter"), ("charles", "", "ledbetter"), ("freda", "", "marona"),
    ("joyce", "", "mckinna"), ("lottie", "", "mintz"), ("dorothy", "", "simpson"), ("ruth", "", "stamey"),
    ("glen", "", "simpson"), ("lillie", "mae", "smith")
]
sophomore_genders = [
    "female","female","female","male","male","female","female","female","male","male","male","male",
    "female","male","male","male","male","male","female","female","female","female","female","male","female"
]

# === Run the searches ===
for (first, middle, last), gender in zip(people, genders):
    print(f"\n--- Searching for {first.title()} {middle.title()} {last.title()} ({gender}) ---")

    df = find_yearbook_person_fast(
        first_names=first,
        middle_names=middle,
        last_names=last,
        gender=gender,
        yearbook_year=yearbook_year,
        cleaned_names=cleaned_names,
        geography=geography,
        database_path=f"{base}/bunmd_sorted.parquet"
    )

    if not df.empty:
        df["person_name"] = f"{first.title()} {middle.title()} {last.title()}".replace("  ", " ")
        df["gender"] = gender
        df["yearbook"] = "The Chief 1939"
        all_results.append(df)

# === Combine everything ===
if all_results:
    combined_results = pd.concat(all_results, ignore_index=True)
    print(f"\n‚úÖ Combined {len(all_results)} matched individuals from chief sophmores 1939.")
    display(combined_results.head(100))
else:
    print("‚ö†Ô∏è No matches found for any listed names.")

--- Searching for O A  Anders (male) ---

--- Searching for ['o a'] [''] ['anders'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for C W  Adoeck (male) ---

--- Searching for ['c w'] [''] ['adoeck'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Franklin  Allison (male) ---

--- Searching for ['franklin'] [''] ['allison'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Broaddeth  Blackwell (male) ---

--- Searching for ['broaddeth'] [''] ['blackwell'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Claudine  Cairnes (female) ---

--- Searching for ['claudine'] [''] ['cairnes'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Nellie  Cairnes (female) ---

--- Searching for ['nellie'] [''] ['cairnes'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Charlotte  Clayton (female) ---

--- Searching for ['charlotte'] [''] ['clayton'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Salome  Clayton (female) ---

--- Searching for ['salome'] [''] ['clayton'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Jackie  Corn (female) ---

--- Searching for ['jackie'] [''] ['corn'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Vernon  Conner (male) ---

--- Searching for ['vernon'] [''] ['conner'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Opal  Dalton (female) ---

--- Searching for ['opal'] [''] ['dalton'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Christine  Davis (female) ---

--- Searching for ['christine'] [''] ['davis'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ruth  Gonee (female) ---

--- Searching for ['ruth'] [''] ['gonee'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Eula  Gray (female) ---

--- Searching for ['eula'] [''] ['gray'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Willie  Gash (male) ---

--- Searching for ['willie'] [''] ['gash'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Blanche  Hollingsworth (female) ---

--- Searching for ['blanche'] [''] ['hollingsworth'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Cameron  Houk (male) ---

--- Searching for ['cameron'] [''] ['houk'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Helen  Mckinna (female) ---

--- Searching for ['helen'] [''] ['mckinna'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Raymond  Mccarson (male) ---

--- Searching for ['raymond'] [''] ['mccarson'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Alma  Merrill (female) ---

--- Searching for ['alma'] [''] ['merrill'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Carolyn  Orr (female) ---

--- Searching for ['carolyn'] [''] ['orr'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Thelma  Snyder (female) ---

--- Searching for ['thelma'] [''] ['snyder'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Jesse Lee  Simpson (male) ---

--- Searching for ['jesse lee'] [''] ['simpson'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for James  Smith (male) ---

--- Searching for ['james'] [''] ['smith'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Clarence  Williams (male) ---

--- Searching for ['clarence'] [''] ['williams'] | Gender: male ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Helen  Wilson (female) ---

--- Searching for ['helen'] [''] ['wilson'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lillian  Wilson (female) ---

--- Searching for ['lillian'] [''] ['wilson'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lucille  Wilson (female) ---

--- Searching for ['lucille'] [''] ['wilson'] | Gender: female ---
Expected birth years: 1921‚Äì1927
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.
‚ö†Ô∏è No matches found for any listed names.

In [72]:
# chief juniors

import pandas as pd

yearbook_year = 1939
base = "/Users/nickichen/Desktop/urap data"

all_results = []

# All people and corresponding genders
juniors = [
    ("o", "a", "anders"), ("c", "w", "adcock"), ("franklin", "", "allison"), ("broaddeth", "", "blackwell"),
    ("claudine", "", "cairnes"), ("nellie", "", "cairnes"), ("charlotte", "", "clayton"), ("salome", "", "clayton"),
    ("jackie", "", "corn"), ("vernon", "", "conner"), ("opal", "", "dalton"), ("christine", "", "davis"),
    ("ruth", "", "gonce"), ("eula", "", "gray"), ("willie", "", "gash"), ("blanche", "", "hollingsworth"),
    ("cameron", "", "houk"), ("helen", "", "mckinna"), ("raymond", "", "mccarson"), ("alma", "", "merrill"),
    ("carolyn", "", "orr"), ("thelma", "", "snyder"), ("jesse", "lee", "simpson"), ("james", "", "smith"),
    ("clarence", "", "williams"), ("helen", "", "wilson"), ("lillian", "", "wilson"), ("lucille", "", "wilson")
]

genders = [
     "male","male","male","male","female","female","female","female","female","male","female","female",
    "female","female","male","female","male","female","male","female","female","female","male","male",
    "male","female","female","female"
]

# === Run the searches ===
for (first, middle, last), gender in zip(people, genders):
    print(f"\n--- Searching for {first.title()} {middle.title()} {last.title()} ({gender}) ---")

    df = find_yearbook_person_fast(
        first_names=first,
        middle_names=middle,
        last_names=last,
        gender=gender,
        yearbook_year=yearbook_year,
        cleaned_names=cleaned_names,
        geography=geography,
        database_path=f"{base}/bunmd.csv"

    )
     

    if not df.empty:
        df["person_name"] = f"{first.title()} {middle.title()} {last.title()}".replace("  ", " ")
        df["gender"] = gender
        df["yearbook"] = "The Chief 1939"
        all_results.append(df)

# === Combine everything ===
if all_results:
    combined_results = pd.concat(all_results, ignore_index=True)
    print(f"\n‚úÖ Combined {len(all_results)} matched individuals from The Chief 1939.")
    display(combined_results.head(100))
else:
    print("‚ö†Ô∏è No matches found for any listed names.")

--- Searching for O A  Anders (male) ---

--- Searching for ['o a'] [''] ['anders'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for C W  Adoeck (male) ---

--- Searching for ['c w'] [''] ['adoeck'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Franklin  Allison (male) ---

--- Searching for ['franklin'] [''] ['allison'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Broaddeth  Blackwell (male) ---

--- Searching for ['broaddeth'] [''] ['blackwell'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Claudine  Cairnes (female) ---

--- Searching for ['claudine'] [''] ['cairnes'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Nellie  Cairnes (female) ---

--- Searching for ['nellie'] [''] ['cairnes'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Charlotte  Clayton (female) ---

--- Searching for ['charlotte'] [''] ['clayton'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Salome  Clayton (female) ---

--- Searching for ['salome'] [''] ['clayton'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Jackie  Corn (female) ---

--- Searching for ['jackie'] [''] ['corn'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Vernon  Conner (male) ---

--- Searching for ['vernon'] [''] ['conner'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Opal  Dalton (female) ---

--- Searching for ['opal'] [''] ['dalton'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Christine  Davis (female) ---

--- Searching for ['christine'] [''] ['davis'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ruth  Gonee (female) ---

--- Searching for ['ruth'] [''] ['gonee'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Eula  Gray (female) ---

--- Searching for ['eula'] [''] ['gray'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Willie  Gash (male) ---

--- Searching for ['willie'] [''] ['gash'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Blanche  Hollingsworth (female) ---

--- Searching for ['blanche'] [''] ['hollingsworth'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Cameron  Houk (male) ---

--- Searching for ['cameron'] [''] ['houk'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Helen  Mckinna (female) ---

--- Searching for ['helen'] [''] ['mckinna'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Raymond  Mccarson (male) ---

--- Searching for ['raymond'] [''] ['mccarson'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Alma  Merrill (female) ---

--- Searching for ['alma'] [''] ['merrill'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Carolyn  Orr (female) ---

--- Searching for ['carolyn'] [''] ['orr'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Thelma  Snyder (female) ---

--- Searching for ['thelma'] [''] ['snyder'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Jesse Lee  Simpson (male) ---

--- Searching for ['jesse lee'] [''] ['simpson'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for James  Smith (male) ---

--- Searching for ['james'] [''] ['smith'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Clarence  Williams (male) ---

--- Searching for ['clarence'] [''] ['williams'] | Gender: male ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Helen  Wilson (female) ---

--- Searching for ['helen'] [''] ['wilson'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lillian  Wilson (female) ---

--- Searching for ['lillian'] [''] ['wilson'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lucille  Wilson (female) ---

--- Searching for ['lucille'] [''] ['wilson'] | Gender: female ---
Expected birth years: 1920‚Äì1926
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.
‚ö†Ô∏è No matches found for any listed names.

In [70]:
#crossroads 1941

# --- Seniors ---
seniors = [
    ("nancy", "", "acuff"), ("fred", "", "albright"), ("john", "", "auten"),
    ("josephine", "", "beaver"), ("joseph", "lafayette", "blackwell"),("doris", "", "camp"), 
    ("lena", "", "chandler"), ("margaret", "", "deese"),("edna", "", "efird"),
     ("willie", "frances", "efird"), ("clegg", "milton", "furr"), ("bill", "", "gantt"), 
     ("bailey", "", "gulledge"), ("margaret", "sue", "laton"),("betty", "van", "lefler"), 
     ("deward", "", "lefler"), ("ray", "", "lefler"), ("ralph", "", "lipe"), 
     ("polly", "", "martin"), ("margaret", "", "moose"), ("william", "whitfield", "morrow"), 
     ("dorothy", "", "parker"), ("laura", "frances", "peck"), ("h", "a", "perry"), 
     ("dorothy", "creason", "rhinehardt"), ("martha", "", "russell"), ("louise", "", "shoe"), 
     ("lloyd", "j", "skidmore"), ("mary", "ann", "skidmore"),("hilda", "", "smith"), 
     ("lillian", "marie", "talbert"), ("ben", "", "thomas"), ("james", "louis", "wallace"), ("horace", "", "whitley")
]
senior_genders = [
    "female", "male", "male",
    "female", "male", "female",
    "female", "female", "female",
    "male", "female", "female",
    "male", "male", "male",
    "female", "female", "male",
    "female", "female", "female",
    "female", "female", "female",
    "male", "female", "female",
    "female", "male", "female",
    "female", "male", "male", "male"
]


# --- Juniors ---
juniors = [
    ("jewell", "", "almond"), ("newell", "clay", "almond"), ("mary", "jane", "auten"),
    ("marilyn", "theresa", "barger"), ("frances", "ramelle", "burleson"), ("ruth", "", "cox"),
    ("patty", "mccain", "crowell"), ("nell", "efird", "denning"), ("eileen", "", "dry"),
    ("george", "hampton", "efird"), ("maxine", "", "cashatt"), ("mary", "emily", "efird"),
    ("nell", "jack", "fesperman"), ("ann", "", "henning"), ("hubert", "", "hatley"),
    ("betty", "", "hatley"), ("laura", "ellen", "hearne"), ("ruth", "", "hill"),
    ("grady", "", "hinson"), ("lois", "evelyn", "hitchcock"), ("clyde", "", "josey"),
    ("ruth", "", "king"), ("rubye", "", "lefler"), ("mary", "louise", "lisk"),
    ("bill", "", "long"), ("hallie", "", "lowder"), ("ramelle", "", "lowder"),
    ("robert", "", "lowder"), ("sybil", "yvonne", "lowder"), ("virgie", "geraldine", "luther")
]
junior_genders = [
    "female", "female", "female",
    "female", "female", "female",
    "female", "female", "female",
    "male", "female", "female",
    "male", "female", "male",
    "female", "male", "female",
    "female", "female", "female",
    "male", "female", "female",
    "female", "male", "female",
    "female", "male", "female", "female"
]


# --- Sophomores ---
sophomores = [
    ("geraldine", "", "luther"), ("lois", "", "melton"), ("evalyn", "", "merritt"),
    ("beaupine", "", "miller"), ("rachel", "", "mills"), ("helen", "", "moore"),
    ("margaret", "", "morris"), ("mazel", "", "morris"), ("ramelle", "", "morris"),
    ("bob", "", "morrow"), ("alfred", "", "morton"), ("christine", "", "morton"),
    ("estelle", "", "morton"), ("hazel", "", "morton"), ("elbert", "", "mullins"),
    ("helen", "", "napier"), ("margaret", "", "nisbet"), ("virginia", "", "nuck"),
    ("lucille", "", "palmer"), ("martha", "alice", "parrish"), ("ramelle", "", "picker"),
    ("stacy", "", "sanker"), ("bessie", "lee", "rudisill"), ("helen", "", "russell"),
    ("cathryn", "", "self"), ("ruby", "", "snider"), ("robbie", "", "snipes"),
    ("alice", "", "smith"), ("katie", "bell", "smith"), ("virginia", "", "speed"),
    ("florence", "", "stude"), ("annette", "", "stude"), ("hubert", "", "stirewalt"),
    ("jewell", "", "stoker"), ("odessa", "", "talbert"), ("louise", "", "thompson")
]
sophomore_genders = [
    "female", "female", "female",
    "female", "female", "female",
    "female", "female", "female",
    "male", "male", "female",
    "female", "male", "female",
    "female", "female", "female",
    "female", "female", "female",
    "female", "female", "female",
    "male", "female", "female",
    "female", "female", "female",
    "male", "female", "female",
    "female", "female", "female"
]


# --- Freshmen ---
freshmen = [
    ("mildred", "", "austin"), ("lorene", "", "burleson"), ("estelle", "", "lucas"),
    ("vivian", "", "comer"), ("lucienne", "", "conner"), ("margaret", "", "morton"),
    ("lucille", "", "morton"), ("leon", "", "morton"), ("robert", "", "morton"),
    ("hazel", "", "norris"), ("jean", "", "norris"), ("catherine", "", "norris"),
    ("pearl", "", "norris"), ("margaret", "", "morton"), ("jack", "", "norris"),
    ("kathleen", "", "morton"), ("margaret", "", "coggins"), ("margie", "", "morton"),
    ("hilda", "", "norris"), ("mary", "", "russell"), ("lucille", "", "morton")
]
freshmen_genders = [
    "male", "female", "female",
    "female", "female", "female",
    "male", "male", "female",
    "female", "female", "female",
    "female", "male", "female",
    "female", "female", "female",
    "female", "female", "female"
]



# === RUN ===
base = "/Users/nickichen/Desktop/urap data"
yearbook_year = 1941

class_groups = [
    ("senior", seniors, genders),
    ("junior", juniors, junior_genders),
    ("sophomore", sophomores, sophomore_genders),
    ("freshman", freshmen, freshmen_genders)
]

combined_all, summary = find_yearbook_all_classes(
    yearbook_year=yearbook_year,
    class_groups=class_groups,
    database_path=f"{base}/bunmd_sorted.parquet",
    save_dir=f"{base}/yearbook_results"
)

===== üìò Processing Senior Class =====

--- Searching for Nancy  Acuff (male) ---

--- Searching for ['nancy'] [''] ['acuff'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Fred  Albright (male) ---

--- Searching for ['fred'] [''] ['albright'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for John  Auten (male) ---

--- Searching for ['john'] [''] ['auten'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Josephine  Beaver (male) ---

--- Searching for ['josephine'] [''] ['beaver'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Joseph Lafayette Blackwell (female) ---

--- Searching for ['joseph'] ['', 'lafayette', 'l'] ['blackwell'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 1 matching name records.

--- Searching for Doris  Camp (female) ---

--- Searching for ['doris'] [''] ['camp'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lena  Chandler (female) ---

--- Searching for ['lena'] [''] ['chandler'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Margaret  Deese (female) ---

--- Searching for ['margaret'] [''] ['deese'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Edna  Efird (female) ---

--- Searching for ['edna'] [''] ['efird'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Willie Frances Efird (male) ---

--- Searching for ['willie'] ['', 'f', 'frances'] ['efird'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Clegg Milton Furr (female) ---

--- Searching for ['clegg'] ['', 'milton', 'm'] ['furr'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Bill  Gantt (female) ---

--- Searching for ['bill'] [''] ['gantt'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Bailey  Gulledge (female) ---

--- Searching for ['bailey'] [''] ['gulledge'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Margaret Sue Laton (female) ---

--- Searching for ['margaret'] ['', 'sue', 's'] ['laton'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Betty Van Lefler (male) ---

--- Searching for ['betty'] ['', 'van', 'v'] ['lefler'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Deward  Lefler (female) ---

--- Searching for ['deward'] [''] ['lefler'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ray  Lefler (male) ---

--- Searching for ['ray'] [''] ['lefler'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ralph  Lipe (female) ---

--- Searching for ['ralph'] [''] ['lipe'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Polly  Martin (male) ---

--- Searching for ['polly'] [''] ['martin'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Margaret  Moose (female) ---

--- Searching for ['margaret'] [''] ['moose'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for William Whitfield Morrow (female) ---

--- Searching for ['william'] ['', 'whitfield', 'w'] ['morrow'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 3 matching name records.

--- Searching for Dorothy  Parker (female) ---

--- Searching for ['dorothy'] [''] ['parker'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Laura Frances Peck (male) ---

--- Searching for ['laura'] ['', 'f', 'frances'] ['peck'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for H A Perry (male) ---

--- Searching for ['h'] ['', 'a'] ['perry'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Dorothy Creason Rhinehardt (male) ---

--- Searching for ['dorothy'] ['', 'creason', 'c'] ['rhinehardt'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Martha  Russell (female) ---

--- Searching for ['martha'] [''] ['russell'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Louise  Shoe (female) ---

--- Searching for ['louise'] [''] ['shoe'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lloyd J Skidmore (female) ---

--- Searching for ['lloyd'] ['', 'j'] ['skidmore'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.
‚úÖ Found 4 matches for Senior.

===== üìò Processing Junior Class =====

--- Searching for Jewell  Almond (female) ---

--- Searching for ['jewell'] [''] ['almond'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Newell Clay Almond (female) ---

--- Searching for ['newell'] ['', 'clay', 'c'] ['almond'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Mary Jane Auten (female) ---

--- Searching for ['mary'] ['', 'j', 'jane'] ['auten'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Marilyn Theresa Barger (female) ---

--- Searching for ['marilyn'] ['', 'theresa', 't'] ['barger'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Frances Ramelle Burleson (female) ---

--- Searching for ['frances'] ['', 'ramelle', 'r'] ['burleson'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ruth  Cox (female) ---

--- Searching for ['ruth'] [''] ['cox'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Patty Mccain Crowell (female) ---

--- Searching for ['patty'] ['', 'mccain', 'm'] ['crowell'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Nell Efird Denning (female) ---

--- Searching for ['nell'] ['', 'e', 'efird'] ['denning'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 1 matching name records.

--- Searching for Eileen  Dry (female) ---

--- Searching for ['eileen'] [''] ['dry'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for George Hampton Efird (male) ---

--- Searching for ['george'] ['', 'h', 'hampton'] ['efird'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Maxine  Cashatt (female) ---

--- Searching for ['maxine'] [''] ['cashatt'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Mary Emily Efird (female) ---

--- Searching for ['mary'] ['', 'e', 'emily'] ['efird'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Nell Jack Fesperman (male) ---

--- Searching for ['nell'] ['', 'jack', 'j'] ['fesperman'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ann  Henning (female) ---

--- Searching for ['ann'] [''] ['henning'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Hubert  Hatley (male) ---

--- Searching for ['hubert'] [''] ['hatley'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Betty  Hatley (female) ---

--- Searching for ['betty'] [''] ['hatley'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Laura Ellen Hearne (male) ---

--- Searching for ['laura'] ['', 'e', 'ellen'] ['hearne'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ruth  Hill (female) ---

--- Searching for ['ruth'] [''] ['hill'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Grady  Hinson (female) ---

--- Searching for ['grady'] [''] ['hinson'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lois Evelyn Hitchcock (female) ---

--- Searching for ['lois'] ['', 'e', 'evelyn'] ['hitchcock'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Clyde  Josey (female) ---

--- Searching for ['clyde'] [''] ['josey'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ruth  King (male) ---

--- Searching for ['ruth'] [''] ['king'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Rubye  Lefler (female) ---

--- Searching for ['rubye'] [''] ['lefler'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Mary Louise Lisk (female) ---

--- Searching for ['mary'] ['', 'louise', 'l'] ['lisk'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Bill  Long (female) ---

--- Searching for ['bill'] [''] ['long'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Hallie  Lowder (male) ---

--- Searching for ['hallie'] [''] ['lowder'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ramelle  Lowder (female) ---

--- Searching for ['ramelle'] [''] ['lowder'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Robert  Lowder (female) ---

--- Searching for ['robert'] [''] ['lowder'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Sybil Yvonne Lowder (male) ---

--- Searching for ['sybil'] ['', 'y', 'yvonne'] ['lowder'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Virgie Geraldine Luther (female) ---

--- Searching for ['virgie'] ['', 'g', 'geraldine'] ['luther'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.
‚úÖ Found 1 matches for Junior.

===== üìò Processing Sophomore Class =====

--- Searching for Geraldine  Luther (female) ---

--- Searching for ['geraldine'] [''] ['luther'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lois  Melton (female) ---

--- Searching for ['lois'] [''] ['melton'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Evalyn  Merritt (female) ---

--- Searching for ['evalyn'] [''] ['merritt'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Beaupine  Miller (female) ---

--- Searching for ['beaupine'] [''] ['miller'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Rachel  Mills (female) ---

--- Searching for ['rachel'] [''] ['mills'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Helen  Moore (female) ---

--- Searching for ['helen'] [''] ['moore'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Margaret  Morris (female) ---

--- Searching for ['margaret'] [''] ['morris'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Mazel  Morris (female) ---

--- Searching for ['mazel'] [''] ['morris'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ramelle  Morris (female) ---

--- Searching for ['ramelle'] [''] ['morris'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Bob  Morrow (male) ---

--- Searching for ['bob'] [''] ['morrow'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Alfred  Morton (male) ---

--- Searching for ['alfred'] [''] ['morton'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Christine  Morton (female) ---

--- Searching for ['christine'] [''] ['morton'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Estelle  Morton (female) ---

--- Searching for ['estelle'] [''] ['morton'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Hazel  Morton (male) ---

--- Searching for ['hazel'] [''] ['morton'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Elbert  Mullins (female) ---

--- Searching for ['elbert'] [''] ['mullins'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Helen  Napier (female) ---

--- Searching for ['helen'] [''] ['napier'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Margaret  Nisbet (female) ---

--- Searching for ['margaret'] [''] ['nisbet'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Virginia  Nuck (female) ---

--- Searching for ['virginia'] [''] ['nuck'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Lucille  Palmer (female) ---

--- Searching for ['lucille'] [''] ['palmer'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Martha Alice Parrish (female) ---

--- Searching for ['martha'] ['', 'a', 'alice'] ['parrish'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ramelle  Picker (female) ---

--- Searching for ['ramelle'] [''] ['picker'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Stacy  Sanker (female) ---

--- Searching for ['stacy'] [''] ['sanker'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Bessie Lee Rudisill (female) ---

--- Searching for ['bessie'] ['', 'lee', 'l'] ['rudisill'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Helen  Russell (female) ---

--- Searching for ['helen'] [''] ['russell'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Cathryn  Self (male) ---

--- Searching for ['cathryn'] [''] ['self'] | Gender: male ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Ruby  Snider (female) ---

--- Searching for ['ruby'] [''] ['snider'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Robbie  Snipes (female) ---

--- Searching for ['robbie'] [''] ['snipes'] | Gender: female ---
Expected birth years: 1922‚Äì1928
üìÇ Loading relevant subset from Parquet...
‚úÖ Found 0 matching name records.

--- Searching for Alice  Smith (female) ---


                  person_name gender_guess class_level  byear
0  Joseph Lafayette Blackwell       female      Senior   1923
1    William Whitfield Morrow       female      Senior   1923
2    William Whitfield Morrow       female      Senior   1926
3    William Whitfield Morrow       female      Senior   1928
4          Nell Efird Denning       female      Junior   1924
5            Katie Bell Smith       female   Sophomore   1923
6            Katie Bell Smith       female   Sophomore   1924

‚úÖ Combined 7 total matches across all classes!

üìä Summary by class:

  class_level  total_matches
0      Junior              1
1      Senior              4
2   Sophomore              2

In [ ]:
# new idea: nickname matches? typos? 
MALE_NICKNAMES = {
    "william": ["will", "bill", "billy"],
    "robert": ["rob", "bob", "bobby"],
    "john": ["jack", "johnny"],
    "james": ["jim", "jimmy"],
    "charles": ["charlie"],
    "henry": ["harry"],
    "edward": ["ed", "eddie"],
    "joseph": ["joe"],
    "thomas": ["tom"],
    "richard": ["rich", "rick", "dick"],
    "frank": ["frankie"],
    "george": ["georgie"]
}


FEMALE_NICKNAMES = {
    "margaret": ["maggie", "meg", "peggy"],
    "elizabeth": ["liz", "lizzie", "beth", "betty"],
    "katherine": ["kate", "katie"],
    "catherine": ["cate", "katie"],
    "mary": ["polly", "mamie"],
    "anna": ["annie"],
    "helen": ["nell", "nellie"],
    "dorothy": ["dot", "dottie"],
    "florence": ["flossie"],
    "louise": ["lou"],
    "martha": ["patty"],
    "virginia": ["ginny"],
    "josephine": ["josie"],
    "frances": ["frankie"]
}

In [83]:
!pip install rapidfuzz

Python(57419) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

Requirement already satisfied: rapidfuzz in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (3.13.0)

[notice] A new release of pip is available: 25.2 -> 26.0
[notice] To update, run: pip install --upgrade pip

In [8]:
#new function using exact, (nicknames), 

# ================================
# Yearbook ‚Üí Numident Matching
# ================================
import pandas as pd
import numpy as np
import os
from rapidfuzz import fuzz

# ----------------
# Nicknames (1900‚Äì1960 safe)
# ----------------
NICKNAMES = {
    "william": ["bill", "billy", "will"],
    "robert": ["bob", "bobby"],
    "james": ["jim", "jimmy"],
    "john": ["jack"],
    "margaret": ["maggie", "peg", "peggy"],
    "elizabeth": ["liz", "beth", "betty"],
    "mary": ["polly", "molly"],
    "charles": ["charlie"],
    "thomas": ["tom"],
    "edward": ["ed", "eddie"]
}

def expand_first_names(name):
    name = name.lower().strip()
    names = {name}
    if name in NICKNAMES:
        names.update(NICKNAMES[name])
    return list(names)

# ----------------
# Single-person matcher
# ----------------
def find_yearbook_person_fast(
    first,
    last,
    gender,
    yearbook_year,
    database_path,
    fuzzy_threshold=92
):
    # Birth year window (baked in early)
    birth_low = yearbook_year - 19
    birth_high = yearbook_year - 13

    # Load only relevant rows
    db = pd.read_parquet(
        database_path,
        filters=[("byear", ">=", birth_low), ("byear", "<=", birth_high)],
        engine="pyarrow"
    )

    first = first.lower().strip()
    last = last.lower().strip()

    # Female surname flexibility
    last_names = {last}

    # -------- PASS 1: exact --------
    exact = db[
        (db["fname"].str.lower() == first) &
        (db["lname"].str.lower().isin(last_names))
    ].copy()

    if not exact.empty:
        exact["match_method"] = "exact"
        return exact

    # -------- PASS 2: nickname --------
    first_variants = expand_first_names(first)

    nick = db[
        (db["fname"].str.lower().isin(first_variants)) &
        (db["lname"].str.lower().isin(last_names))
    ].copy()

    if not nick.empty:
        nick["match_method"] = "nickname"
        return nick

    # -------- PASS 3: fuzzy (last resort) --------
    candidates = db[db["lname"].str.lower().isin(last_names)].copy()

    def score(row):
        fname = row["fname"]
        if not isinstance(fname, str):
            return 0
        fname = fname.lower()
        return max(fuzz.ratio(fname, f) for f in first_variants)

    candidates["fuzzy_score"] = candidates.apply(score, axis=1)
    fuzzy = candidates[candidates["fuzzy_score"] >= fuzzy_threshold]

    if not fuzzy.empty:
        fuzzy["match_method"] = "fuzzy"
        return fuzzy

    return pd.DataFrame()

# ----------------
# Whole-yearbook runner
# ----------------
def find_yearbook_all_classes(
    yearbook_year,
    yearbook_name,
    class_groups,
    database_path,
    save_dir
):
    all_results = []

    for class_name, people, genders in class_groups:
        print(f"\n===== Processing {class_name.title()} =====")

        for (first, _, last), gender in zip(people, genders):
            result = find_yearbook_person_fast(
                first=first,
                last=last,
                gender=gender,
                yearbook_year=yearbook_year,
                database_path=database_path
            )

            if not result.empty:
                result["yearbook_person"] = f"{first.title()} {last.title()}"
                result["class_level"] = class_name
                result["gender_guess"] = gender
                result["yearbook"] = f"{yearbook_name} {yearbook_year}"
                all_results.append(result)

    if not all_results:
        print("No matches found.")
        return None, None

    combined = pd.concat(all_results, ignore_index=True)

    # -------- Summary --------
    summary = (
        combined.groupby("yearbook_person")
        .agg(
            total_matches=("ssn", "count"),
            best_match=("match_method", "min")
        )
        .reset_index()
    )

    os.makedirs(save_dir, exist_ok=True)
    combined.to_csv(f"{save_dir}/{yearbook_name}_{yearbook_year}_matches.csv", index=False)
    summary.to_csv(f"{save_dir}/{yearbook_name}_{yearbook_year}_summary.csv", index=False)

    print(f"\nMatched {summary.shape[0]} unique yearbook individuals.")
    return combined, summary

In [9]:

 # ================================
# Crossroads High School ‚Äì 1941
# ================================

yearbook_name = "Crossroads"
yearbook_year = 1941
base = "/Users/nickichen/Desktop/urap data"

# ---------- Seniors ----------
seniors = [
    ("nancy", "", "acuff"), ("fred", "", "albright"), ("john", "", "auten"),
    ("josephine", "", "beaver"), ("joseph", "lafayette", "blackwell"), ("doris", "", "camp"),
    ("lena", "", "chandler"), ("margaret", "", "deese"), ("edna", "", "efird"),
    ("willie", "frances", "efird"), ("clegg", "milton", "furr"), ("bill", "", "gantt"),
    ("bailey", "", "gulledge"), ("margaret", "sue", "laton"), ("betty", "van", "lefler"),
    ("deward", "", "lefler"), ("ray", "", "lefler"), ("ralph", "", "lipe"),
    ("polly", "", "martin"), ("margaret", "", "moose"), ("william", "whitfield", "morrow"),
    ("dorothy", "", "parker"), ("laura", "frances", "peck"), ("h", "a", "perry"),
    ("dorothy", "creason", "rhinehardt"), ("martha", "", "russell"), ("louise", "", "shoe"),
    ("lloyd", "j", "skidmore"), ("mary", "ann", "skidmore"), ("hilda", "", "smith"),
    ("lillian", "marie", "talbert"), ("ben", "", "thomas"),
    ("james", "louis", "wallace"), ("horace", "", "whitley")
]

senior_genders = [
    "female","male","male","female","male","female","female","female","female",
    "male","female","female","male","male","male","female","female","male",
    "female","female","female","female","female","female","male","female","female",
    "female","male","female","female","male","male","male"
]

# ---------- Juniors ----------
juniors = [
    ("jewell", "", "almond"), ("newell", "clay", "almond"), ("mary", "jane", "auten"),
    ("marilyn", "theresa", "barger"), ("frances", "ramelle", "burleson"), ("ruth", "", "cox"),
    ("patty", "mccain", "crowell"), ("nell", "efird", "denning"), ("eileen", "", "dry"),
    ("george", "hampton", "efird"), ("maxine", "", "cashatt"), ("mary", "emily", "efird"),
    ("nell", "jack", "fesperman"), ("ann", "", "henning"), ("hubert", "", "hatley"),
    ("betty", "", "hatley"), ("laura", "ellen", "hearne"), ("ruth", "", "hill"),
    ("grady", "", "hinson"), ("lois", "evelyn", "hitchcock"), ("clyde", "", "josey"),
    ("ruth", "", "king"), ("rubye", "", "lefler"), ("mary", "louise", "lisk"),
    ("bill", "", "long"), ("hallie", "", "lowder"), ("ramelle", "", "lowder"),
    ("robert", "", "lowder"), ("sybil", "yvonne", "lowder"), ("virgie", "geraldine", "luther")
]

junior_genders = [
    "female","female","female","female","female","female","female","female","female",
    "male","female","female","male","female","male","female","male","female",
    "female","female","female","male","female","female","female","male","female",
    "female","male","female","female"
]

# ---------- Sophomores ----------
sophomores = [
    ("geraldine", "", "luther"), ("lois", "", "melton"), ("evalyn", "", "merritt"),
    ("beaupine", "", "miller"), ("rachel", "", "mills"), ("helen", "", "moore"),
    ("margaret", "", "morris"), ("mazel", "", "morris"), ("ramelle", "", "morris"),
    ("bob", "", "morrow"), ("alfred", "", "morton"), ("christine", "", "morton"),
    ("estelle", "", "morton"), ("hazel", "", "morton"), ("elbert", "", "mullins"),
    ("helen", "", "napier"), ("margaret", "", "nisbet"), ("virginia", "", "nuck"),
    ("lucille", "", "palmer"), ("martha", "alice", "parrish"), ("ramelle", "", "picker"),
    ("stacy", "", "sanker"), ("bessie", "lee", "rudisill"), ("helen", "", "russell"),
    ("cathryn", "", "self"), ("ruby", "", "snider"), ("robbie", "", "snipes"),
    ("alice", "", "smith"), ("katie", "bell", "smith"), ("virginia", "", "speed"),
    ("florence", "", "stude"), ("annette", "", "stude"), ("hubert", "", "stirewalt"),
    ("jewell", "", "stoker"), ("odessa", "", "talbert"), ("louise", "", "thompson")
]

sophomore_genders = [
    "female","female","female","female","female","female","female","female","female",
    "male","male","female","female","male","female","female","female","female",
    "female","female","female","female","female","female","male","female","female",
    "female","female","female","male","female","female","female","female","female"
]

# ---------- Freshmen ----------
freshmen = [
    ("mildred", "", "austin"), ("lorene", "", "burleson"), ("estelle", "", "lucas"),
    ("vivian", "", "comer"), ("lucienne", "", "conner"), ("margaret", "", "morton"),
    ("lucille", "", "morton"), ("leon", "", "morton"), ("robert", "", "morton"),
    ("hazel", "", "norris"), ("jean", "", "norris"), ("catherine", "", "norris"),
    ("pearl", "", "norris"), ("margaret", "", "morton"), ("jack", "", "norris"),
    ("kathleen", "", "morton"), ("margaret", "", "coggins"), ("margie", "", "morton"),
    ("hilda", "", "norris"), ("mary", "", "russell"), ("lucille", "", "morton")
]

freshmen_genders = [
    "male","female","female","female","female","female","male","male","female",
    "female","female","female","female","male","female","female","female","female",
    "female","female","female"
]

# ---------- Group & Run ----------
class_groups = [
    ("senior", seniors, senior_genders),
    ("junior", juniors, junior_genders),
    ("sophomore", sophomores, sophomore_genders),
    ("freshman", freshmen, freshmen_genders)
]

combined_all, summary = find_yearbook_all_classes(
    yearbook_year=yearbook_year,
    yearbook_name=yearbook_name,
    class_groups=class_groups,
    database_path=f"{base}/bunmd_sorted.parquet",
    save_dir=f"{base}/yearbook_results"
)

===== Processing Senior =====

===== Processing Junior =====

===== Processing Sophomore =====

===== Processing Freshman =====

Matched 72 unique yearbook individuals.

In [2]:
import pandas as pd

path = "/Users/nickichen/Desktop/urap data/yearbook_results/Crossroads_1941_matches.csv"
df = pd.read_csv(path)

df_nc = df[df['socstate_string'] == "North Carolina"]

print(df_nc.shape)
df_nc

(121, 40)

,ssn,zip_residence,lname,mname,fname,byear,dyear,socstate,bmonth,dmonth,...,death_age,weight,ccweight,bpl_string,socstate_string,match_method,yearbook_person,class_level,gender_guess,yearbook
4,244187254,NaN,AUTEN,NaN,JOHN,1922,1978,3700.0,12.0,5,...,55,NaN,NaN,North Carolina,North Carolina,exact,John Auten,senior,male,Crossroads 1941
5,245386791,280015014,AUTEN,A,JOHN,1922,1993,3700.0,5.0,5,...,70,1.030643,1.118882,North Carolina,North Carolina,exact,John Auten,senior,male,Crossroads 1941
6,245220841,NaN,AUTEN,NaN,JOHN,1925,1981,3700.0,9.0,5,...,55,NaN,NaN,North Carolina,North Carolina,exact,John Auten,senior,male,Crossroads 1941
14,239306877,NaN,BLACKWELL,NaN,JOSEPH,1926,1974,3700.0,2.0,2,...,47,NaN,NaN,NaN,North Carolina,exact,Joseph Blackwell,senior,male,Crossroads 1941
30,244364990,280017374,LEFLER,A,BETTY,1928,2007,3700.0,11.0,9,...,78,NaN,NaN,North Carolina,North Carolina,exact,Betty Lefler,senior,male,Crossroads 1941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1906,242242019,224076661,RUSSELL,P,MARY,1923,1999,3700.0,2.0,2,...,75,1.034287,1.072181,North Carolina,North Carolina,exact,Mary Russell,freshman,female,Crossroads 1941
1909,242302324,233242847,RUSSELL,M,MARY,1923,2006,3700.0,3.0,11,...,83,NaN,NaN,North Carolina,North Carolina,exact,Mary Russell,freshman,female,Crossroads 1941
1955,246269366,273611075,RUSSELL,L,MARY,1924,1995,3700.0,8.0,7,...,70,1.038555,1.083938,North Carolina,North Carolina,exact,Mary Russell,freshman,female,Crossroads 1941
2004,242349613,292041607,RUSSELL,M,MARY,1927,1993,3700.0,4.0,4,...,65,1.060677,1.100685,North Carolina,North Carolina,exact,Mary Russell,freshman,female,Crossroads 1941
2010,242368933,287390000,RUSSELL,A,MARY,1927,1990,3700.0,10.0,3,...,62,NaN,NaN,North Carolina,North Carolina,exact,Mary Russell,freshman,female,Crossroads 1941

In [24]:
df_counts = (
    df.groupby("yearbook_person")
      .size()
      .reset_index(name="num_matches")
      .sort_values("num_matches", ascending=False)
)

df_counts

    yearbook_person  num_matches
1       Alice Smith          270
29    James Wallace          216
23      Helen Moore          200
55     Mary Russell          171
12   Dorothy Parker          165
..              ...          ...
42      Louise Shoe            1
41  Lorene Burleson            1
39   Lois Hitchcock            1
38   Lloyd Skidmore            1
54        Mary Lisk            1

[72 rows x 2 columns]

In [49]:
df_class = df.groupby("class_level")["yearbook_person"].nunique()
df_class

class_level
freshman     15
junior       13
senior       22
sophomore    22
Name: yearbook_person, dtype: int64

In [ ]:
#zoom into why couldnt find. filter more

#commit onto git

In [6]:
import pandas as pd
from difflib import get_close_matches

# ---------- your yearbook tuples ----------
yearbook = [
    ("nancy", "", "acuff"), ("fred", "", "albright"), ("john", "", "auten"),
    ("josephine", "", "beaver"), ("joseph", "lafayette", "blackwell"), ("doris", "", "camp"),
    ("lena", "", "chandler"), ("margaret", "", "deese"), ("edna", "", "efird"),
    ("willie", "frances", "efird"), ("clegg", "milton", "furr"), ("bill", "", "gantt"),
    ("bailey", "", "gulledge"), ("margaret", "sue", "laton"), ("betty", "van", "lefler"),
    ("deward", "", "lefler"), ("ray", "", "lefler"), ("ralph", "", "lipe"),
    ("polly", "", "martin"), ("margaret", "", "moose"), ("william", "whitfield", "morrow"),
    ("dorothy", "", "parker"), ("laura", "frances", "peck"), ("h", "a", "perry"),
    ("dorothy", "creason", "rhinehardt"), ("martha", "", "russell"), ("louise", "", "shoe"),
    ("lloyd", "j", "skidmore"), ("mary", "ann", "skidmore"), ("hilda", "", "smith"),
    ("lillian", "marie", "talbert"), ("ben", "", "thomas"),
    ("james", "louis", "wallace"), ("horace", "", "whitley"), ("jewell", "", "almond"),
    ("newell", "clay", "almond"), ("mary", "jane", "auten"),
    ("marilyn", "theresa", "barger"), ("frances", "ramelle", "burleson"), ("ruth", "", "cox"),
    ("patty", "mccain", "crowell"), ("nell", "efird", "denning"), ("eileen", "", "dry"),
    ("george", "hampton", "efird"), ("maxine", "", "cashatt"), ("mary", "emily", "efird"),
    ("nell", "jack", "fesperman"), ("ann", "", "henning"), ("hubert", "", "hatley"),
    ("betty", "", "hatley"), ("laura", "ellen", "hearne"), ("ruth", "", "hill"),
    ("grady", "", "hinson"), ("lois", "evelyn", "hitchcock"), ("clyde", "", "josey"),
    ("ruth", "", "king"), ("rubye", "", "lefler"), ("mary", "louise", "lisk"),
    ("bill", "", "long"), ("hallie", "", "lowder"), ("ramelle", "", "lowder"),
    ("robert", "", "lowder"), ("sybil", "yvonne", "lowder"),
    ("virgie", "geraldine", "luther"), ("geraldine", "", "luther"), ("lois", "", "melton"),
    ("evalyn", "", "merritt"), ("beaupine", "", "miller"), ("rachel", "", "mills"),
    ("helen", "", "moore"), ("mildred", "", "austin"), ("lorene", "", "burleson"),
    ("estelle", "", "lucas"), ("vivian", "", "comer"), ("lucienne", "", "conner"),
    ("margaret", "", "morton"), ("lucille", "", "morton"), ("leon", "", "morton"),
    ("robert", "", "morton"), ("hazel", "", "norris"), ("jean", "", "norris"),
    ("catherine", "", "norris"), ("pearl", "", "norris"), ("margaret", "", "morton"),
    ("jack", "", "norris"), ("kathleen", "", "morton"), ("margaret", "", "coggins"),
    ("margie", "", "morton"), ("hilda", "", "norris"), ("mary", "", "russell"),
    ("lucille", "", "morton"), ("margaret", "", "morris"), ("mazel", "", "morris"),
    ("ramelle", "", "morris"), ("bob", "", "morrow"), ("alfred", "", "morton"),
    ("christine", "", "morton"), ("estelle", "", "morton"), ("hazel", "", "morton"),
    ("elbert", "", "mullins"), ("helen", "", "napier"), ("margaret", "", "nisbet"),
    ("virginia", "", "nuck"), ("lucille", "", "palmer"), ("martha", "alice", "parrish"),
    ("ramelle", "", "picker"), ("stacy", "", "sanker"), ("bessie", "lee", "rudisill"),
    ("helen", "", "russell"), ("cathryn", "", "self"), ("ruby", "", "snider"),
    ("robbie", "", "snipes"), ("alice", "", "smith"), ("katie", "bell", "smith"),
    ("virginia", "", "speed"), ("florence", "", "stude"), ("annette", "", "stude"),
    ("hubert", "", "stirewalt"), ("jewell", "", "stoker"), ("odessa", "", "talbert"),
    ("louise", "", "thompson")
]

# ---------- helper to normalize strings ----------
def normalize(s):
    return (
        str(s)
        .strip()
        .lower()
        .replace(".", "")      # remove periods in initials
        .replace(",", "")      # remove commas
        .replace("  ", " ")
    )

# ---------- 1) build yearbook df using FIRST + LAST only ----------
yb_df = pd.DataFrame(yearbook, columns=["first", "middle", "last"])
yb_df["yearbook_person"] = (yb_df["first"].fillna("").astype(str).str.strip() + " " + yb_df["last"].fillna("").astype(str).str.strip())
yb_df["yearbook_person"] = yb_df["yearbook_person"].map(normalize)

# ---------- 2) normalize df's yearbook_person too (so both sides match) ----------
# overwrite a copy so you're safe
df_work = df.copy()
df_work["yearbook_person_norm"] = df_work["yearbook_person"].astype(str).map(normalize)

# ---------- 3) recalc counts from the NORMALIZED column ----------
df_counts = (
    df_work.groupby("yearbook_person_norm")
      .size()
      .reset_index(name="num_matches")
      .sort_values("num_matches", ascending=False)
)

# ---------- 4) merge using the normalized keys ----------
yb_with_counts = yb_df.merge(df_counts, left_on="yearbook_person", right_on="yearbook_person_norm", how="left")
yb_with_counts["num_matches"] = yb_with_counts["num_matches"].fillna(0).astype(int)

# ---------- 5) results ----------
print("Overlap count (exact match on first+last):", (yb_with_counts["num_matches"]>0).sum())
display(yb_with_counts.sort_values("num_matches", ascending=False).reset_index(drop=True))

# ---------- 6) quick fuzzy-check for some missing folks (optional) ----------
missing = yb_with_counts[yb_with_counts["num_matches"] == 0].copy()
df_names_list = sorted(df_work["yearbook_person_norm"].unique().tolist())

# show up to 5 close matches for the first 20 missing names
missing = missing.head(20).copy()
missing["close_suggestions"] = missing["yearbook_person"].apply(lambda s: get_close_matches(s, df_names_list, n=5, cutoff=0.75))
display(missing)

Overlap count (exact match on first+last): 74

,first,middle,last,yearbook_person,yearbook_person_norm,num_matches
0,alice,,smith,alice smith,alice smith,270
1,james,louis,wallace,james wallace,james wallace,216
2,helen,,moore,helen moore,helen moore,200
3,mary,,russell,mary russell,mary russell,171
4,dorothy,,parker,dorothy parker,dorothy parker,165
5,ruth,,king,ruth king,ruth king,101
6,ruth,,hill,ruth hill,ruth hill,94
7,louise,,thompson,louise thompson,louise thompson,88
8,margaret,,morris,margaret morris,margaret morris,84
9,robert,,morton,robert morton,robert morton,77
10,william,whitfield,morrow,william morrow,william morrow,71
11,ruth,,cox,ruth cox,ruth cox,62
12,helen,,russell,helen russell,helen russell,61
13,hilda,,smith,hilda smith,hilda smith,54
14,margaret,,morton,margaret morton,margaret morton,30
15,margaret,,morton,margaret morton,margaret morton,30
16,katie,bell,smith,katie smith,katie smith,27
17,martha,,russell,martha russell,martha russell,25
18,jack,,norris,jack norris,jack norris,20
19,mildred,,austin,mildred austin,mildred austin,17
20,ben,,thomas,ben thomas,ben thomas,15
21,lucille,,morton,lucille morton,lucille morton,12
22,lucille,,morton,lucille morton,lucille morton,12
23,bill,,long,bill long,bill long,11
24,jean,,norris,jean norris,jean norris,11
25,lucille,,palmer,lucille palmer,lucille palmer,11
26,joseph,lafayette,blackwell,joseph blackwell,joseph blackwell,11
27,hazel,,norris,hazel norris,hazel norris,10
28,catherine,,norris,catherine norris,catherine norris,9
29,doris,,camp,doris camp,doris camp,9
30,h,a,perry,h perry,h perry,9
31,mary,ann,skidmore,mary skidmore,mary skidmore,8
32,martha,alice,parrish,martha parrish,martha parrish,8
33,hazel,,morton,hazel morton,hazel morton,7
34,pearl,,norris,pearl norris,pearl norris,6
35,alfred,,morton,alfred morton,alfred morton,5
36,frances,ramelle,burleson,frances burleson,frances burleson,5
37,rachel,,mills,rachel mills,rachel mills,5
38,robert,,lowder,robert lowder,robert lowder,5
39,helen,,napier,helen napier,helen napier,4
40,polly,,martin,polly martin,polly martin,4
41,fred,,albright,fred albright,fred albright,4
42,kathleen,,morton,kathleen morton,kathleen morton,4
43,lois,,melton,lois melton,lois melton,3
44,grady,,hinson,grady hinson,grady hinson,3
45,christine,,morton,christine morton,christine morton,3
46,john,,auten,john auten,john auten,3
47,estelle,,lucas,estelle lucas,estelle lucas,2
48,ann,,henning,ann henning,ann henning,2
49,elbert,,mullins,elbert mullins,elbert mullins,2
50,estelle,,morton,estelle morton,estelle morton,2
51,leon,,morton,leon morton,leon morton,2
52,virginia,,speed,virginia speed,virginia speed,2
53,mary,jane,auten,mary auten,mary auten,2
54,betty,van,lefler,betty lefler,betty lefler,2
55,lillian,marie,talbert,lillian talbert,lillian talbert,2
56,bob,,morrow,bob morrow,bob morrow,1
57,lorene,,burleson,lorene burleson,lorene burleson,1
58,lena,,chandler,lena chandler,lena chandler,1
59,mazel,,morris,mazel morris,mazel morris,1
60,geraldine,,luther,geraldine luther,geraldine luther,1
61,margaret,,deese,margaret deese,margaret deese,1
62,louise,,shoe,louise shoe,louise shoe,1
63,margaret,,coggins,margaret coggins,margaret coggins,1
64,lloyd,j,skidmore,lloyd skidmore,lloyd skidmore,1
65,deward,,lefler,deward lefler,deward lefler,1
66,clyde,,josey,clyde josey,clyde josey,1
67,lois,evelyn,hitchcock,lois hitchcock,lois hitchcock,1
68,ruby,,snider,ruby snider,ruby snider,1
69,ralph,,lipe,ralph lipe,ralph lipe,1
70,margaret,,nisbet,margaret nisbet,margaret nisbet,1
71,horace,,whitley,horace whitley,horace whitley,1
72,mary,louise,lisk,mary lisk,mary lisk,1
73,nell,efird,denning,nell denning,nell denning,1
74,stacy,,sanker,stacy sanker,NaN,0
75,cathryn,,self,cathryn self,NaN,0
76,odessa,,talbert,odessa talbert,NaN,0
77,robbie,,snipes,robbie snipes,NaN,0
78,bessie,lee,rudisill,bessie rudisill,NaN,0
79,ramelle,,morris,ramelle morris,NaN,0
80,ramelle,,picker,ramelle picker,NaN,0
81,hilda,,norris,hilda norris,NaN,0
82,jewell,,stoker,jewell stoker,NaN,0
83,hubert,,stirewalt,hubert stirewalt,NaN,0
84,annette,,stude,annette stude,NaN,0
85,florence,,stude,florence stude,NaN,0
86,virginia,,nuck,virginia nuck,NaN,0
87,nancy,,acuff,nancy acuff,NaN,0
88,margie,,morton,margie morton,NaN,0
89,patty,mccain,crowell,patty crowell,NaN,0
90,josephine,,beaver,josephine beaver,NaN,0
91,edna,,efird,edna efird,NaN,0
92,willie,frances,efird,willie efird,NaN,0
93,clegg,milton,furr,clegg furr,NaN,0
94,bill,,gantt,bill gantt,NaN,0
95,bailey,,gulledge,bailey gulledge,NaN,0
96,margaret,sue,laton,margaret laton,NaN,0
97,ray,,lefler,ray lefler,NaN,0
98,margaret,,moose,margaret moose,NaN,0
99,laura,frances,peck,laura peck,NaN,0
100,dorothy,creason,rhinehardt,dorothy rhinehardt,NaN,0
101,jewell,,almond,jewell almond,NaN,0
102,newell,clay,almond,newell almond,NaN,0
103,marilyn,theresa,barger,marilyn barger,NaN,0
104,eileen,,dry,eileen dry,NaN,0
105,lucienne,,conner,lucienne conner,NaN,0
106,george,hampton,efird,george efird,NaN,0
107,maxine,,cashatt,maxine cashatt,NaN,0
108,mary,emily,efird,mary efird,NaN,0
109,nell,jack,fesperman,nell fesperman,NaN,0
110,hubert,,hatley,hubert hatley,NaN,0
111,betty,,hatley,betty hatley,NaN,0
112,laura,ellen,hearne,laura hearne,NaN,0
113,rubye,,lefler,rubye lefler,NaN,0
114,hallie,,lowder,hallie lowder,NaN,0
115,sybil,yvonne,lowder,sybil lowder,NaN,0
116,virgie,geraldine,luther,virgie luther,NaN,0
117,evalyn,,merritt,evalyn merritt,NaN,0
118,beaupine,,miller,beaupine miller,NaN,0
119,vivian,,comer,vivian comer,NaN,0
120,ramelle,,lowder,ramelle lowder,NaN,0

,first,middle,last,yearbook_person,yearbook_person_norm,num_matches,close_suggestions
0,nancy,,acuff,nancy acuff,NaN,0,[]
3,josephine,,beaver,josephine beaver,NaN,0,[]
8,edna,,efird,edna efird,NaN,0,[]
9,willie,frances,efird,willie efird,NaN,0,[]
10,clegg,milton,furr,clegg furr,NaN,0,[]
11,bill,,gantt,bill gantt,NaN,0,[]
12,bailey,,gulledge,bailey gulledge,NaN,0,[]
13,margaret,sue,laton,margaret laton,NaN,0,[margaret morton]
16,ray,,lefler,ray lefler,NaN,0,[]
19,margaret,,moose,margaret moose,NaN,0,"[margaret morton, margaret morris, margaret de..."
22,laura,frances,peck,laura peck,NaN,0,[]
24,dorothy,creason,rhinehardt,dorothy rhinehardt,NaN,0,[]
34,jewell,,almond,jewell almond,NaN,0,[]
35,newell,clay,almond,newell almond,NaN,0,[]
37,marilyn,theresa,barger,marilyn barger,NaN,0,[]
40,patty,mccain,crowell,patty crowell,NaN,0,[]
42,eileen,,dry,eileen dry,NaN,0,[]
43,george,hampton,efird,george efird,NaN,0,[]
44,maxine,,cashatt,maxine cashatt,NaN,0,[]
45,mary,emily,efird,mary efird,NaN,0,[]

In [7]:
#try to find nancy acuff manaually
import pandas as pd

base = "/Users/nickichen/Desktop/urap data"

df = pd.read_parquet(f"{base}/bunmd_sorted.parquet")

hits = df[
    (df["fname"].astype(str).str.strip().str.lower() == "nancy") &
    (df["lname"].astype(str).str.strip().str.lower() == "acuff")
]

print("num hits:", len(hits))
display(hits.head(50))

num hits: 1

,ssn,zip_residence,lname,mname,fname,byear,dyear,socstate,bmonth,dmonth,bday,dday,number_apps,race_first,race_last,race_last_cyear,race_first_cyear,race_last_cmonth,race_first_cmonth,race_change,number_claims,sex,bpl,father_fname,father_mname,father_lname,mother_fname,mother_mname,mother_lname,age_first_application,death_age,weight,ccweight,bpl_string,socstate_string
43575051,430840108,727648589,ACUFF,L,NANCY,1945,2004,500.0,7.0,6,15.0,1.0,2,1.0,1.0,1965.0,1962.0,6.0,4.0,0.0,0,2.0,500.0,WALTER,L,PARKER,GRACE,None,WARD,16.0,58,NaN,NaN,Arkansas,Arkansas

In [8]:
import pandas as pd
from difflib import SequenceMatcher

base = "/Users/nickichen/Desktop/urap data"
df = pd.read_parquet(f"{base}/bunmd_sorted.parquet")

def norm(s):
    if pd.isna(s): 
        return ""
    return (
        str(s).strip().lower()
        .replace(".", "")
        .replace(",", "")
        .replace("'", "")
        .replace("-", " ")
    )

def sim(a, b):
    return SequenceMatcher(None, a, b).ratio()

target_last = "acuff"
# nickname-ish variants for nancy (add/remove as you like)
first_targets = [
    "nancy", "nan", "nannie", "nanny", "nance", "nancyj", "anne", "ann", "anna", "annie"
]

# normalize columns once
work = df.copy()
work["fname_n"] = work["fname"].map(norm)
work["lname_n"] = work["lname"].map(norm)

# 1) narrow down by last name similarity to keep it fast
# (also catches small OCR errors like acuf, acuffe, etc.)
work["lname_score"] = work["lname_n"].apply(lambda x: sim(x, target_last))
cand = work[work["lname_score"] >= 0.75].copy()   # loosen to 0.70 if needed

print("Candidates after last-name filter:", len(cand))

# 2) score first name vs ANY nickname variant
def best_first_score(x):
    return max(sim(x, t) for t in first_targets) if x else 0.0

cand["fname_score"] = cand["fname_n"].apply(best_first_score)

# 3) combine score (weight last name more)
cand["score"] = 0.65 * cand["lname_score"] + 0.35 * cand["fname_score"]

# 4) show top hits
cols_to_show = ["byear", "fname", "lname", "lname_score", "fname_score", "score"]
cols_to_show = [c for c in cols_to_show if c in cand.columns]

top = cand.sort_values("score", ascending=False).head(100)
display(top[cols_to_show])

Candidates after last-name filter: 2645

          byear     fname     lname  lname_score  fname_score     score
33776105   1928      ANNA     ACUFF     1.000000     1.000000  1.000000
18889      1872      ANNA     ACUFF     1.000000     1.000000  1.000000
42055541   1941      ANNA     ACUFF     1.000000     1.000000  1.000000
43575051   1945     NANCY     ACUFF     1.000000     1.000000  1.000000
4673551    1904    HANNAH     ACUFF     1.000000     0.800000  0.930000
80160      1877    HANNAH     ACUFF     1.000000     0.800000  0.930000
5380979    1905     JANIE     ACUFF     1.000000     0.800000  0.930000
21072609   1918      ANNA      CUFF     0.888889     1.000000  0.927778
583068     1890      ANNE      CUFF     0.888889     1.000000  0.927778
12826608   1912      ANNA      CUFF     0.888889     1.000000  0.927778
15498427   1914      ANNA      CUFF     0.888889     1.000000  0.927778
655122     1891      ANNE      CUFF     0.888889     1.000000  0.927778
4807257    1904      ANNA      CUFF     0.888889     1.000000  0.927778
6343290    1906      ANNA      CUFF     0.888889     1.000000  0.927778
30629130   1925     ANNIE      CUFF     0.888889     1.000000  0.927778
35805742   1930      ANNA      CUFF     0.888889     1.000000  0.927778
7232014    1907       ANN      CUFF     0.888889     1.000000  0.927778
1181392    1895      ANNA      CUFF     0.888889     1.000000  0.927778
18284845   1916      ANNE      CUFF     0.888889     1.000000  0.927778
32713164   1927      NONA     ACUFF     1.000000     0.750000  0.912500
37245207   1932      NINA     ACUFF     1.000000     0.750000  0.912500
44886681   1949    RONNIE     ACUFF     1.000000     0.727273  0.904545
13889998   1913    MINNIE     ACUFF     1.000000     0.727273  0.904545
39759326   1936   JEANINE     ACUFF     1.000000     0.727273  0.904545
23597826   1920    CONNIE     ACUFF     1.000000     0.727273  0.904545
19413467   1917    BONNIE     ACUFF     1.000000     0.727273  0.904545
14144273   1913    FANNIE      CUFF     0.888889     0.909091  0.895960
26688      1873      ANNA   ARCHUFF     0.833333     1.000000  0.891667
27821239   1923   FRANCES     ACUFF     1.000000     0.666667  0.883333
42055542   1941    NORMAN     ACUFF     1.000000     0.666667  0.883333
1142326    1895     DONNA     ACUFF     1.000000     0.666667  0.883333
40759429   1938       INA     ACUFF     1.000000     0.666667  0.883333
39195263   1935     WAYNE     ACUFF     1.000000     0.666667  0.883333
9066898    1909     AGNES     ACUFF     1.000000     0.666667  0.883333
27821235   1923     ALINE     ACUFF     1.000000     0.666667  0.883333
6179184    1906   FRANCES     ACUFF     1.000000     0.666667  0.883333
36488930   1931     JANET     ACUFF     1.000000     0.666667  0.883333
13889999   1913       ONA     ACUFF     1.000000     0.666667  0.883333
35642964   1930     WAYNE     ACUFF     1.000000     0.666667  0.883333
15498446   1914      ANNA     CUFFE     0.800000     1.000000  0.870000
1722983    1897      ANNA     KAUFF     0.800000     1.000000  0.870000
2038225    1898      ANNA     LAUFF     0.800000     1.000000  0.870000
11974134   1911      ANNA     LAUFF     0.800000     1.000000  0.870000
8549253    1908      ANNE     LAUFF     0.800000     1.000000  0.870000
1386565    1896     ANNIE     CLUFF     0.800000     1.000000  0.870000
1218888    1895     ANNIE     HAUFF     0.800000     1.000000  0.870000
43939002   1946     NANCY     CLUFF     0.800000     1.000000  0.870000
2636294    1900    NANNIE     CRUFF     0.800000     1.000000  0.870000
7230936    1907      ANNA     CRUFF     0.800000     1.000000  0.870000
19930186   1917      ANNA     HAUFF     0.800000     1.000000  0.870000
19930185   1917      ANNA     HAUFF     0.800000     1.000000  0.870000
43110962   1943     NANCY     PAUFF     0.800000     1.000000  0.870000
37359942   1932      ANNA     CLUFF     0.800000     1.000000  0.870000
10359982   1910      ANNE     CLUFF     0.800000     1.000000  0.870000
47354277   1959  DANIELLE     ACUFF     1.000000     0.615385  0.865385
3472198    1902    ANDREW     ACUFF     1.000000     0.600000  0.860000
31597438   1926    ANDREW     ACUFF     1.000000     0.600000  0.860000
11356135   1911     MAXIE     ACUFF     1.000000     0.600000  0.860000
19413475   1917     MAMIE     ACUFF     1.000000     0.600000  0.860000
4673553    1904     MAMIE     ACUFF     1.000000     0.600000  0.860000
8018244    1908     MAMIE     ACUFF     1.000000     0.600000  0.860000
1347219    1896     ALICE     ACUFF     1.000000     0.600000  0.860000
9066899    1909     ALICE     ACUFF     1.000000     0.600000  0.860000
1142324    1895    BARNEY     ACUFF     1.000000     0.600000  0.860000
23597821   1920    ANDREW     ACUFF     1.000000     0.600000  0.860000
32713153   1927     ALICE     ACUFF     1.000000     0.600000  0.860000
47559379   1960     DANNY      CUFF     0.888889     0.800000  0.857778
36634900   1931    JEANNE      CUFF     0.888889     0.800000  0.857778
1934347    1898    HANNAH      CUFF     0.888889     0.800000  0.857778
38705076   1934    JEANNE      CUFF     0.888889     0.800000  0.857778
10172438   1910      EDNA     ACUFF     1.000000     0.571429  0.850000
2551914    1900       ADA     ACUFF     1.000000     0.571429  0.850000
47961475   1963      NEVA     ACUFF     1.000000     0.571429  0.850000
40274684   1937      LENA     ACUFF     1.000000     0.571429  0.850000
15233946   1914       MAE     ACUFF     1.000000     0.571429  0.850000
33776110   1928      IVAN     ACUFF     1.000000     0.571429  0.850000
22229359   1919      JEAN     ACUFF     1.000000     0.571429  0.850000
13889988   1913      DEAN     ACUFF     1.000000     0.571429  0.850000
9066897    1909       ADA     ACUFF     1.000000     0.571429  0.850000
148648     1880      MINN     ACUFF     1.000000     0.571429  0.850000
7049003    1907       AVA     ACUFF     1.000000     0.571429  0.850000
42107550   1941       ANN  CARCUFFE     0.769231     1.000000  0.850000
40274681   1937       ADA     ACUFF     1.000000     0.571429  0.850000
24210081   1920      ANNA  JACKMUFF     0.769231     1.000000  0.850000
31594853   1926     NANCY  A ACHUFF     0.769231     1.000000  0.850000
30398842   1925    JENNIE    ACHUFF     0.909091     0.727273  0.845455
31597440   1926   ELWANDA     ACUFF     1.000000     0.545455  0.840909
39759324   1936   EVADENA     ACUFF     1.000000     0.545455  0.840909
46961861   1957   RANDALL     ACUFF     1.000000     0.545455  0.840909
10172442   1910    HORACE     ACUFF     1.000000     0.545455  0.840909
19413478   1917    NETTIE     ACUFF     1.000000     0.545455  0.840909
12578407   1912    MATTIE     ACUFF     1.000000     0.545455  0.840909
27821245   1923   MAURINE     ACUFF     1.000000     0.545455  0.840909
33776112   1928   MARCENE     ACUFF     1.000000     0.545455  0.840909
15233945   1914   LAVERNE     ACUFF     1.000000     0.545455  0.840909
27821241   1923    HORACE     ACUFF     1.000000     0.545455  0.840909
37955060   1933   KENNETH     ACUFF     1.000000     0.545455  0.840909
45470148   1951    DENNIS     ACUFF     1.000000     0.545455  0.840909
26472694   1922  JONATHAN     ACUFF     1.000000     0.545455  0.840909
31597437   1926  ANDERSON     ACUFF     1.000000     0.545455  0.840909

In [9]:
import pandas as pd
from difflib import SequenceMatcher

base = "/Users/nickichen/Desktop/urap data"
df = pd.read_parquet(f"{base}/bunmd_sorted.parquet")

# ---- 1941 HS seniors -> likely birth year window ----
# Typical: 17‚Äì19 in senior year
BYEAR_MIN, BYEAR_MAX = 1922, 1924  # widen to 1921‚Äì1925 if you want

# ---- name targets ----
target_last = "acuff"
first_targets = ["nancy", "nan", "nannie", "nanny", "nance", "ann", "anne", "annie", "anna", "nancie"]

def norm(s):
    if pd.isna(s):
        return ""
    return (
        str(s).strip().lower()
        .replace(".", "")
        .replace(",", "")
        .replace("'", "")
        .replace("-", " ")
    )

def sim(a, b):
    return SequenceMatcher(None, a, b).ratio()

# ---- normalize + filter by birth year first ----
work = df.copy()
work["fname_n"] = work["fname"].map(norm)
work["lname_n"] = work["lname"].map(norm)

work = work[
    work["byear"].between(BYEAR_MIN, BYEAR_MAX, inclusive="both")
].copy()

print("Rows in birth-year window:", len(work))

# ---- last name similarity filter ----
work["lname_score"] = work["lname_n"].apply(lambda x: sim(x, target_last))
cand = work[work["lname_score"] >= 0.70].copy()   # tighten to 0.75 if too many

# ---- first name best score across nickname variants ----
def best_first_score(x):
    return max(sim(x, t) for t in first_targets) if x else 0.0

cand["fname_score"] = cand["fname_n"].apply(best_first_score)

# ---- overall score (weight last name more) ----
cand["score"] = 0.65 * cand["lname_score"] + 0.35 * cand["fname_score"]

# ---- pick columns to display: byear + names + soc states + whatever else exists ----
want_cols = [
    "byear", "fname", "lname",
    "socstate", "socstate_string", "bplstate", "bplstate_string",
    "resstate", "resstate_string",
    "race", "sex",
    "score", "lname_score", "fname_score"
]
cols = [c for c in want_cols if c in cand.columns]

top = cand.sort_values(["score", "lname_score", "fname_score"], ascending=False).head(100)

print("Top candidates:", len(top))
display(top[cols])

Rows in birth-year window: 3927118
Top candidates: 100

,byear,fname,lname,socstate,socstate_string,sex,score,lname_score,fname_score
27821235,1923,ALINE,ACUFF,4700.0,Tennessee,2.0,0.883333,1.000000,0.666667
27821239,1923,FRANCES,ACUFF,2400.0,Maryland,2.0,0.883333,1.000000,0.666667
26472694,1922,JONATHAN,ACUFF,4800.0,Texas,1.0,0.840909,1.000000,0.545455
27821241,1923,HORACE,ACUFF,600.0,California,1.0,0.840909,1.000000,0.545455
27821245,1923,MAURINE,ACUFF,4700.0,Tennessee,2.0,0.840909,1.000000,0.545455
26472690,1922,ELENA,ACUFF,1700.0,Illinois,2.0,0.825000,1.000000,0.500000
29122746,1924,CONDA,ACUFF,4700.0,Tennessee,1.0,0.825000,1.000000,0.500000
27821244,1923,LUCILLE,ACUFF,4700.0,Tennessee,2.0,0.811538,1.000000,0.461538
26730362,1922,FRANCES,CUFF,4500.0,South Carolina,2.0,0.811111,0.888889,0.666667
26472691,1922,IRENE,ACUFF,4900.0,Utah,2.0,0.805556,1.000000,0.444444
26472692,1922,JAMES,ACUFF,4700.0,Tennessee,1.0,0.805556,1.000000,0.444444
27821240,1923,HAZEL,ACUFF,4700.0,Tennessee,2.0,0.805556,1.000000,0.444444
29122748,1924,DAWSON,ACUFF,4700.0,Tennessee,1.0,0.805556,1.000000,0.444444
29122754,1924,JACK,ACUFF,4700.0,Tennessee,1.0,0.805556,1.000000,0.444444
29122755,1924,JAMES,ACUFF,2800.0,Mississippi,1.0,0.805556,1.000000,0.444444
29122756,1924,LAURA,ACUFF,2000.0,Kansas,2.0,0.805556,1.000000,0.444444
27820573,1923,MARIE,ACHUFF,1700.0,Illinois,2.0,0.800909,0.909091,0.600000
28289103,1923,NADINE,HANCUFF,5300.0,Washington,2.0,0.796212,0.833333,0.727273
29366993,1924,FRANCIS,CUFF,4200.0,Pennsylvania,1.0,0.793162,0.888889,0.615385
27141135,1922,MANNIE,LACOFF,900.0,Connecticut,1.0,0.790909,0.727273,0.909091
28070480,1923,JANNIE,CUFFEE,5100.0,Virginia,2.0,0.790909,0.727273,0.909091
26472015,1922,WAYN,ACHUFF,2900.0,Missouri,1.0,0.790909,0.909091,0.571429
26472689,1922,CARMIA,ACUFF,2100.0,Kentucky,2.0,0.790000,1.000000,0.400000
27821238,1923,ERNEST,ACUFF,2900.0,Missouri,1.0,0.790000,1.000000,0.400000
27821248,1923,SAMUEL,ACUFF,2100.0,Kentucky,1.0,0.790000,1.000000,0.400000
29122752,1924,ELLENE,ACUFF,600.0,California,2.0,0.790000,1.000000,0.400000
29122757,1924,LORINE,ACUFF,2800.0,Mississippi,2.0,0.790000,1.000000,0.400000
29122762,1924,SIDNEY,ACUFF,4700.0,Tennessee,1.0,0.790000,1.000000,0.400000
26730361,1922,ALICE,CUFF,4700.0,Tennessee,2.0,0.787778,0.888889,0.600000
29366989,1924,ALICE,CUFF,2500.0,Massachusetts,2.0,0.787778,0.888889,0.600000
27821247,1923,NORRIS,ACUFF,4700.0,Tennessee,1.0,0.777273,1.000000,0.363636
29122745,1924,BILLIE,ACUFF,2900.0,Missouri,1.0,0.777273,1.000000,0.363636
26730368,1922,MARILYNN,CUFF,1900.0,Iowa,2.0,0.768687,0.888889,0.545455
28070455,1923,CARRIE,CUFF,2500.0,Massachusetts,2.0,0.768687,0.888889,0.545455
28070463,1923,JUANITA,CUFF,3800.0,North Dakota,2.0,0.768687,0.888889,0.545455
26472696,1922,MILDRED,ACUFF,400.0,Arizona,2.0,0.766667,1.000000,0.333333
27821246,1923,MILDRED,ACUFF,4700.0,Tennessee,2.0,0.766667,1.000000,0.333333
26472423,1922,NORMAN,ACOFF,600.0,California,1.0,0.753333,0.800000,0.666667
26730381,1922,JANET,CUFFE,2600.0,Michigan,2.0,0.753333,0.800000,0.666667
29599811,1924,NORMAN,HAUFF,2600.0,Michigan,1.0,0.753333,0.800000,0.666667
26730367,1922,LEONA,CUFF,1900.0,Iowa,2.0,0.752778,0.888889,0.500000
28070454,1923,BERNICE,CUFF,1800.0,Indiana,2.0,0.752778,0.888889,0.500000
28070460,1923,FRANK,CUFF,3600.0,New York,1.0,0.752778,0.888889,0.500000
29366990,1924,DAREN,CUFF,4100.0,Oregon,1.0,0.752778,0.888889,0.500000
26730387,1922,JANIE,CUFFEY,100.0,Alabama,2.0,0.752727,0.727273,0.800000
26472693,1922,JOE,ACUFF,400.0,Arizona,1.0,0.750000,1.000000,0.285714
27821242,1923,JOHN,ACUFF,4700.0,Tennessee,1.0,0.750000,1.000000,0.285714
27820572,1923,JAMES,ACHUFF,4200.0,Pennsylvania,1.0,0.746465,0.909091,0.444444
26730370,1922,MARJORIE,CUFF,800.0,Colorado,2.0,0.739316,0.888889,0.461538
28070465,1923,LUCILLE,CUFF,4000.0,Oklahoma,2.0,0.739316,0.888889,0.461538
26472695,1922,MERI,ACUFF,1600.0,Idaho,2.0,0.737500,1.000000,0.250000
29122749,1924,EDGAR,ACUFF,2900.0,Missouri,1.0,0.737500,1.000000,0.250000
29122751,1924,ELLEN,ACUFF,100.0,Alabama,2.0,0.737500,1.000000,0.250000
29122760,1924,ROY,ACUFF,1900.0,Iowa,1.0,0.737500,1.000000,0.250000
26689491,1922,ANNABELLE,CLUFF,200.0,Alaska,2.0,0.735385,0.800000,0.615385
28030329,1923,CLARENCE,CLUFF,2800.0,Mississippi,1.0,0.735385,0.800000,0.615385
26730369,1922,MARION,CUFF,2500.0,Massachusetts,2.0,0.733333,0.888889,0.444444
26730371,1922,MARY,CUFF,2800.0,Mississippi,2.0,0.733333,0.888889,0.444444
29367000,1924,MARIAN,CUFF,5500.0,Wisconsin,2.0,0.733333,0.888889,0.444444
29367001,1924,MARION,CUFF,3400.0,New Jersey,2.0,0.733333,0.888889,0.444444
29367002,1924,MARY,CUFF,3600.0,New York,2.0,0.733333,0.888889,0.444444
29367003,1924,MAUDE,CUFF,4200.0,Pennsylvania,2.0,0.733333,0.888889,0.444444
27820574,1923,SAMUEL,ACHUFF,4200.0,Pennsylvania,1.0,0.730909,0.909091,0.400000
27820575,1923,WALTER,ACHUFF,4200.0,Pennsylvania,1.0,0.730909,0.909091,0.400000
26689490,1922,ALICE,CLUFF,600.0,California,2.0,0.730000,0.800000,0.600000
26730379,1922,ARNETT,CUFFE,3800.0,North Dakota,2.0,0.730000,0.800000,0.600000
26730380,1922,GRACE,CUFFE,3400.0,New Jersey,2.0,0.730000,0.800000,0.600000
27452237,1922,ELAINE,RAUFF,4200.0,Pennsylvania,2.0,0.730000,0.800000,0.600000
28055919,1923,STANTON,COUFF,4200.0,Pennsylvania,NaN,0.730000,0.800000,0.600000
28479460,1923,ROSEANN,LAUFF,4200.0,Pennsylvania,2.0,0.730000,0.800000,0.600000
29327936,1924,ADDIE,CLUFF,4800.0,Texas,2.0,0.730000,0.800000,0.600000
29327937,1924,ALICE,CLUFF,400.0,Arizona,2.0,0.730000,0.800000,0.600000
29327947,1924,MANOLA,CLUFF,4900.0,Utah,2.0,0.730000,0.800000,0.600000
29367007,1924,ALICE,CUFFE,3600.0,New York,2.0,0.730000,0.800000,0.600000
26472697,1922,TROY,ACUFF,500.0,Arkansas,1.0,0.727778,1.000000,0.222222
27821236,1923,BETTY,ACUFF,4700.0,Tennessee,2.0,0.727778,1.000000,0.222222
29122753,1924,HOWARD,ACUFF,2900.0,Missouri,1.0,0.727778,1.000000,0.222222
29122763,1924,THOMAS,ACUFF,4700.0,Tennessee,1.0,0.727778,1.000000,0.222222
26472698,1922,WILLIAM,ACUFF,1700.0,Illinois,1.0,0.720000,1.000000,0.200000
27821237,1923,DORIS,ACUFF,5300.0,Washington,2.0,0.720000,1.000000,0.200000
27821243,1923,LILLARD,ACUFF,4000.0,Oklahoma,1.0,0.720000,1.000000,0.200000
29122758,1924,RICHARD,ACUFF,4700.0,Tennessee,1.0,0.720000,1.000000,0.200000
29122759,1924,ROBERT,ACUFF,4700.0,Tennessee,1.0,0.720000,1.000000,0.200000
28307534,1923,EDNA,HAUFF,4000.0,Oklahoma,2.0,0.720000,0.800000,0.571429
29768570,1924,JEAN,LAUFF,4200.0,Pennsylvania,2.0,0.720000,0.800000,0.571429
29122058,1924,GLADYS,ACHUFF,1700.0,Illinois,2.0,0.718182,0.909091,0.363636
26730364,1922,HARRY,CUFF,4200.0,Pennsylvania,1.0,0.717778,0.888889,0.400000
28070459,1923,EUGENE,CUFF,3400.0,New Jersey,1.0,0.717778,0.888889,0.400000
28070464,1923,LEONARD,CUFF,5300.0,Washington,1.0,0.717778,0.888889,0.400000
29366998,1924,LEONARD,CUFF,3600.0,New York,1.0,0.717778,0.888889,0.400000
27204031,1922,FRANK,MACDUFF,1900.0,Iowa,1.0,0.716667,0.833333,0.500000
28307537,1923,NAOMI,HAUFF,3900.0,Ohio,2.0,0.710909,0.800000,0.545455
29122750,1924,ELIZABETH,ACUFF,600.0,California,2.0,0.708333,1.000000,0.166667
29122059,1924,MARGARET,ACHUFF,4200.0,Pennsylvania,2.0,0.707576,0.909091,0.333333
26681234,1922,ANTHONY,CIUFFA,2900.0,Missouri,1.0,0.706061,0.727273,0.666667
26730382,1922,AGNES,CUFFEE,5100.0,Virginia,2.0,0.706061,0.727273,0.666667
26730420,1922,ANTHONY,CUIFFI,4200.0,Pennsylvania,1.0,0.706061,0.727273,0.666667
27119873,1922,FRANCES,KNAUFF,3100.0,Nebraska,2.0,0.706061,0.727273,0.666667
28446131,1923,WAYNE,KNAUFF,3900.0,Ohio,1.0,0.706061,0.727273,0.666667
29367048,1924,ANTHONY,CUIFFO,3400.0,New Jersey,1.0,0.706061,0.727273,0.666667